@import "../../../../../../../../node_modules/rfs/scss";
@import '../../../../../../../dist/variables.scss';
@import '../../../../../shared/inputs/styles/custom-inputs.scss';
@import '../historico.component.scss';

.block_nova_advertencia {
    font-family: $font-poppins;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.2rem 1.5rem;
    border-radius: 5px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $dark-white;
    cursor: pointer;
}

.block_nova_advertencia:hover {
    border: 1px solid $primary-color-dark;
    background-color: $primary-color-dark;
    transition: 0.3s;
}

.block_vazio {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
    font-family: $font-poppins;
    color: $light-grey;
}

// CONTAINER MEIO - ITENS

.hr_container {
    padding: 0 1rem;
    margin: 0 auto;
}

.hr {
    background-color: $dark-grey;
    margin: 1rem 0;
    width: 100%;
    margin: 0.8rem 0;
}

.item_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.8rem 1rem;
    border: 1px solid $dark-grey;
    border-radius: 2px;
    font-family: $font-poppins;
    color: $light-grey;
    font-size: 0.9rem;
}

.item_container_expandido {
    padding-bottom: 0.6rem;
}

.item_container_titulo {
    display: flex;
    justify-content: space-between;
    color: $dark-white;
    font-weight: 500;
}

.ASSINADA {
    border: 1px solid $success;
    color: $success;
}

.PENDENTE {
    border: 1px solid $red;
    color: $red;
}

.item_details {
    display: flex;
    justify-content: space-between;
}

.icone_details {
    color: $light-grey;
    margin-left: 0.4rem;
    cursor: pointer;
}

.icone_arquivo {
    margin-left: 0.7rem;
}

::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
    top: 0;
}

::ng-deep.mdc-menu-surface {
    background-color: $light-black;
    padding: 0 0.5rem;
}

.dropdown-item {
    color: $light-grey !important;
    padding: 0.5rem 0.5rem !important;
    margin: 0 !important;
    font-family: $font-poppins;
    display: flex;
    cursor: pointer;
}

.dropdown-item-desabilitado {
    color: $dark-grey !important;
    cursor: default;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: $dark-white !important;
    background-color: $light-black !important;
    padding: 0.5rem 0.5rem !important;
}

.dropdown-item-desabilitado:focus,
.dropdown-item-desabilitado:hover {
    color: $dark-grey !important;
}

.texto_opcao {
    display: flex;
    align-items: flex-end;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.CRIACAO {
    border: 1px solid $success;
    color: $success;
}

.ALTERACAO {
    border: 1px solid $warn;
    color: $warn;
}

.REMOCAO,
.REMOCAO_EM_MASSA {
    border: 1px solid $error;
    color: $error;
}

.RELATORIO,
.OUTRO {
    border: 1px solid $common;
    color: $common;
}

.nova_advertencia_container {
    padding: 0 1rem;
    margin-top: 1rem;
}

// ================= TITULO NOVA ADVERTÊNCIA ======================

.hr,
.titulo_sessao_container,
.titulo_sessao,
.hr_container {
    margin: 0;
    padding: 0;
}

.hr {
    background-color: $dark-grey;
    margin: 1rem 0;
}

.titulo_sessao_container {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin-top: 0.5rem;
    cursor: pointer;
    color: $dark-white;
    border: 1px solid $primary-color-darker;
    background-color: $primary-color;
    font-size: 1rem;
    border-radius: 0;
    opacity: 0.96;
    font-family: $font-poppins;
}

.titulo_sessao_container:hover {
    border: 1px solid $primary-color-darker;
    background-color: $primary-color-dark;
    transition: 0.5s;
}

.titulo_sessao {
    padding: 0.3rem 1.5rem;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// ================ NOVA ADVERTENCIA =============================

.nova_advertencia_block {
    padding: 0.8rem 0rem;
    border: 1px solid $dark-grey;
    border-top: transparent;
    border-radius: 2px;
    font-family: $font-poppins;
    color: $light-grey;
}

.input_group_without_component {
    padding-bottom: 1rem;
}

.input_file {
    border: 1px solid $dark-grey;
    background-color: $dark-black;
    color: $primary-color;
    font-size: 1rem;
    font-weight: 400;
    font-family: $font-poppins;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.limpar_file {
    color: $dark-grey;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    text-decoration: underline;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $primary-color;
}

.limpar_file:focus {
    outline: none;
}

option,
select,
input {
    background: $dark-black !important;
    color: $primary-color !important;
    border: 1px solid $dark-grey !important;
    font-family: $font-poppins !important;
}

option:focus,
select:focus,
input:focus {
    border: 1px solid $primary-color !important;
    outline: none;
}

.button_container {
    display: flex;
    justify-content: right;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

.button {
    width: 100%;
    background-color: transparent;
    font-family: $font-poppins;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    border: 1px solid $primary-color;
    color: $dark-white;
    background-color: $primary-color;
    cursor: pointer;
}

.button:hover {
    border: 1px solid $primary-color-dark;
    background-color: $primary-color-dark;
    transition: 0.5s;
}

.button:focus {
    outline: none;
    box-shadow: none;
    transition: 0.3s;
    border: 1px solid $primary-color-dark;
    background-color: $primary-color-dark;
}

.icone {
    right: 0.5rem !important;
}

@media (max-width: 576px) {

    .titulo_sessao {
        font-size: 0.8rem;
    }

    .input_file {
        font-size: 0.8rem;
    }

    .button {
        font-size: 0.8rem;
        padding: 0.2rem;
    }

    .hr {
        margin-bottom: 0;
    }

    .block_titulo_itens {
        margin-top: 0.6rem;
    }

}