<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table_container">

    <table class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table table-dark"
        [ngClass]="{'mat-elevation-z8': verificaSeConteudoMaiorQueZero()}">

        <caption></caption>

        <thead class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 thead">

            <app-cabecalho (emissorDeSolicitacaoDeAtualizacaoDeTabela)="recebeSolicitacaoDeAtualizacaoDaTabela()"
                (emissorDeBuscaColaboradoresFormControl)="recebeBuscaColaboradoresFormControl($event)"
                (emissorDePageSizeComQuantidadeDeItensPorPaginaAlterada)="recebeQtdItensPorPaginaAlterada($event)"
                (emissorDePageableInfoAposTypeAhead)="recebeObjetoPageableInfoAtualizadoPosTypeAhead($event)"
                [pageableInfo]="pageableInfo" [colaboradoresSelecionadosNaTabela]="colaboradoresSelecionadosNaTabela"
                [ngClass]="{ 'thead_info_empty': pageableInfo == null || pageableInfo.content.length == 0 }"
                class="row thead_info col-xl-12 col-lg-12 col-md-12 col-sm-12"></app-cabecalho>

            <hr class="hr_thead">

            <tr *ngIf="verificaSeConteudoMaiorQueZero()"
                class="tr_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <th class="th th_checkbox">
                    <input (click)="checkAll()" [checked]="botaoCheckAllHabilitado" type="checkbox" id="customCheck"
                        name="example1">
                </th>
                <th class="th th_expande">
                    <mat-icon (click)="alteraOrdenacao()" class="icon_expand_all" fontIcon="unfold_more"></mat-icon>
                </th>
                <th class="th th_nome">
                    NOME
                </th>
                <th class="th th_cpfCnpj">
                    CPF/CNPJ
                </th>
                <th class="th th_status">
                    STATUS
                </th>
                <th class="th th_matricula">
                    MATRICULA
                </th>
                <th class="th th_ocupacao">
                    CARGO
                </th>
                <th class="th th_acoes">

                </th>

            </tr>

        </thead>

        <tbody *ngIf="pageableInfo != null; else: loadBarTabela" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div *ngIf="verificaSeConteudoMaiorQueZero(); else: tabelaVazia"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 linha_tabela_container">
                <div *ngFor="let colaborador of pageableInfo.content; let i = index"
                    [ngClass]="{'linha_tabela_expandida': colaborador.expanded}"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 linha_tabela">

                    <tr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <td class="td td_checkbox">
                            <input (click)="alteraEstadoCheckTabela(i)" [checked]="colaborador.checked" type="checkbox"
                                class="checkbox">
                        </td>

                        <td class="td td_expande">
                            <i (click)="alteraEstadoExpansaoTabela(i)"
                                [ngClass]="{'fa-chevron-right': !colaborador.expanded, 'fa-chevron-down': colaborador.expanded}"
                                class="icone icone_expand fas fa-solid" id="{{ 'linha-' + i }}" data-toggle="collapse"
                                [attr.href]="'#collapse-' + i"></i>
                        </td>

                        <td class="td td_nome">
                            <div class="row nome_colaborador">
                                <div class="nome_text">
                                    {{
                                    (colaborador.nome.length > 14)
                                    ? (colaborador.nome | slice:0:14 | titlecase)+'...'
                                    : (colaborador.nome | titlecase)
                                    }}
                                </div>
                            </div>
                        </td>

                        <td class="td td_cpfCnpj">
                            {{ (colaborador.cpfCnpj != null ? colaborador.cpfCnpj : '-' ) }}
                        </td>

                        <td class="td td_status">
                            <span class="status_comum mat-elevation-z2" [ngClass]="{'success_text': colaborador.statusColaboradorEnum == 'ATIVO', 
                                'warn_text': colaborador.statusColaboradorEnum == 'AFASTADO' || colaborador.statusColaboradorEnum == 'FERIAS',
                                'error_text': colaborador.statusColaboradorEnum == 'DISPENSADO' || colaborador.statusColaboradorEnum == 'EXCLUIDO',
                                'common_text': colaborador.statusColaboradorEnum == 'FREELANCER'}">
                                {{ colaborador.statusColaboradorEnum | titlecase }}
                            </span>
                        </td>

                        <td class="td td_matricula">
                            {{ colaborador.matricula }}
                        </td>

                        <td class="td td_ocupacao">
                            {{ (colaborador.ocupacao | slice:0:14) }}
                        </td>

                        <td class="td td_acoes">
                            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 icon_container">
                                <mat-icon fontIcon="more_vert"
                                    class="icone icone_tabela icone_tabela_remove dropdown dropleft float-right"
                                    data-toggle="dropdown"></mat-icon>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" [routerLink]="'/colaboradores/' + colaborador.id">
                                        Editar
                                    </a>
                                    <a class="dropdown-item" [routerLink]="'/colaboradores/' + colaborador.id">
                                        Emitir advertência
                                    </a>
                                    <a class="dropdown-item" [routerLink]="'/colaboradores/' + colaborador.id">
                                        Dispensar
                                    </a>
                                    <a (click)="excluiColaborador(colaborador.id)" class="dropdown-item">
                                        Excluir
                                    </a>
                                </div>
                            </div>
                        </td>

                    </tr>

                    <div class="accordion-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                        [attr.href]="'#linha-' + i" [attr.data-parent]="'#linha-' + i" [@fadeInOut]
                        *ngIf="colaborador.expanded" id="{{ 'collapse-' + i }}">
                        <app-acordeao [colaborador]="colaborador"></app-acordeao>
                    </div>

                </div>

            </div>

            <ng-template #tabelaVazia>
                <div class="tabela_vazia_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Nenhum colaborador foi encontrado.
                </div>
            </ng-template>

        </tbody>

        <ng-template #loadBarTabela>
            <mat-progress-bar class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 load-bar-tabela"
                mode="indeterminate"></mat-progress-bar>
        </ng-template>

        <app-paginacao *ngIf="verificaSeConteudoMaiorQueZero()"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pagination_container" [pageableInfo]="pageableInfo"
            (emissorDePageNumberAtualizado)="recebePageNumberAtualizado($event)"></app-paginacao>

    </table>

</div>