@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

.container,
.titulo_container,
.botoes_container,
.titulo,
.botoes,
.dropdown_menu,
.filtros_container_titulo,
.filtros_titulo,
.filtros_container_titulo_principal,
.filtros_container_titulo_limpar,
.filtro_chip,
.filtros_container_aplicados,
.container_filtro_chip,
.filtro_input_container,
.filtro_input,
.filtro_chip_texto {
    margin: 0;
    padding: 0;
    font-family: $font-poppins;
}

.container {
    width: 100%;
    margin-bottom: 0.5rem;
}

.titulo_container {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.titulo {
    display: flex;
    justify-content: left;
    color: $dark-white;
    width: 100%;
    @include font-size(1.2rem);
    font-weight: 500;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 0.2rem;
}

.icone {
    color: $dark-white;
    margin-left: 5px;
    cursor: pointer;
}

/* ======================== */

hr {
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: $dark-grey;
}

@media (max-width: 1200px) {
    .titulo {
        font-size: 1.2rem;
    }
}
@media (max-width: 992px) {
    .titulo {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .titulo {
        font-size: 1rem;
    }
    .botoes {
        justify-content: left;
    }
    .icone {
        margin: 0 5px 0 0;
    }
}

@media (max-width: 360px) {
    .titulo {
        font-size: 0.80rem;
    }
    .icone {
        font-size: 1.3rem;
    }
}