@import "../../../../../../../node_modules/rfs/scss";
@import '../../../../../../dist/variables.scss';

div {
    margin: 0;
    padding: 0;
}

// CONTAINER MEIO - MENU SUPERIOR
.block_menu {
    margin-top: 1rem;
}

// CONTAINER MEIO - TITULO ITENS

.block_titulo_itens {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.block_titulo_itens_titulo {
    font-family: $font-poppins;
    color: $dark-white;
    font-weight: 500;
    display: flex;
    align-items: center;
}

// CONTAINER MEIO - ITENS

.block_vazio {
    padding: 0 1rem;
    margin-top: 2rem;
    text-align: center;
    font-family: $font-poppins;
    color: $light-grey;
}

.block_itens {
    margin-top: 0.5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.item_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.8rem 1rem;
    border: 1px solid $dark-grey;
    border-radius: 2px;
    font-family: $font-poppins;
    color: $light-grey;
    font-size: 0.9rem;
}

.item_container:hover {
    background-color: $medium-black;
    border: 1px solid $medium-grey;
    transition: 0.5s;
}

.item_details_status {
    font-size: 0.8rem;
    padding: 0.1rem 0.6rem;
    border-radius: 5px;
    border: 1px solid $primary-color;
    color: $primary-color;
}

.item_text {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item_text_titulo {
    color: $dark-white;
}

.item_text_time {
    padding-right: 0.5rem;
    color: $dark-white;
}

.CRIACAO {
    border: 1px solid $success;
    color: $success;
}

.ALTERACAO {
    border: 1px solid $warn;
    color: $warn;
}

.REMOCAO,
.REMOCAO_EM_MASSA {
    border: 1px solid $error;
    color: $error;
}

.RELATORIO,
.OUTRO {
    border: 1px solid $common;
    color: $common;
}

.icone_item {
    margin-left: 0.5rem;
}

.icone_opc {
    margin-left: 0.3rem;
    cursor: pointer;
}

.disabled_icon {
    color: $dark-grey;
    cursor: default;
}

.item_container_conteudo {
    padding-top: 0.5rem;
}

// ================ PAGINAÇÃO =============================

.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
    margin: 0.5rem 0;
    background-color: $light-black;
}

.pagination {
    margin: 0.5rem 0 1rem 0;
}

.page-item {
    color: $light-grey;
    padding: 0 !important;
    border-bottom: none !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-link {
    background-color: $primary-color !Important;
    font-size: 0.8rem;
    border: solid 1px #575656 !Important;
    padding: 0.2rem 1rem !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-link:hover {
    background-color: #24262c;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px #575656 !Important;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover {
    color: $dark-grey;
    background-color: $light-grey !Important;
    border: solid 1px #575656 !Important;
}