<ul *ngIf="pageableInfo.totalPages > 1" class="pagination pagination-sm justify-content-end">
    <li (click)="voltarPagina()" [ngClass]="{'disabled': pageableInfo.pageNumber == 0}" class="page-item"><a
            class="page-link">{{ geraBotaoVoltarPaginacao() }}</a></li>
    <ng-container
        *ngFor="let numero of GeraNumerosParaNavegarNaPaginacao(pageableInfo.totalPages); let i = index">
        <li *ngIf="(pageableInfo.pageNumber - i) <= 3 && (pageableInfo.pageNumber - i) >= 0
|| (i - pageableInfo.pageNumber) <= 3 && (i - pageableInfo.pageNumber) >= 0
|| pageableInfo.pageNumber == 0 && (i - pageableInfo.pageNumber) <= 6 && (i - pageableInfo.pageNumber) >= 0
|| pageableInfo.pageNumber == 1 && (i - pageableInfo.pageNumber) <= 5 && (i - pageableInfo.pageNumber) >= 0
|| pageableInfo.pageNumber == 2 && (i - pageableInfo.pageNumber) <= 4 && (i - pageableInfo.pageNumber) >= 0
|| (pageableInfo.pageNumber == (pageableInfo.totalPages-1)) && (pageableInfo.pageNumber - i) <= 6
|| (pageableInfo.pageNumber == (pageableInfo.totalPages-2)) && (pageableInfo.pageNumber - i) <= 5
|| (pageableInfo.pageNumber == (pageableInfo.totalPages-3)) && (pageableInfo.pageNumber - i) <= 4"
            (click)="selecionarPagina(i)" [ngClass]="{'active': pageableInfo.pageNumber == i}"
            class="page-item">
            <a class="page-link">{{ i+1 }}</a>
        </li>
    </ng-container>
    <li (click)="avancarPagina()"
        [ngClass]="{'disabled': pageableInfo.pageNumber == pageableInfo.totalPages-1}" class="page-item"><a
            class="page-link">{{ geraBotaoAvancarPaginacao() }}</a></li>
</ul>