<div class="container">
    <h1 class="texto titulo" mat-dialog-title>Encerrar sessão</h1>
    <div class="texto conteudo" mat-dialog-content>
      Tem certeza que deseja se desconectar do sistema?
    </div>
    <div class="button_box" mat-dialog-actions>
      <button
        class="button button_yes mat-elevation-z2"
        mat-button
        mat-dialog-close
        tabindex="-1"
      >
        Sim
      </button>
      <button
        class="button button_no mat-elevation-z2"
        mat-button
        mat-dialog-close
        tabindex="-1"
      >
        Não
      </button>
    </div>
  </div>
  