<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <mat-toolbar class="header">
      <div class="container_nome_empresa">
        <h1 class="nome_empresa">AKADION SOLUTIONS</h1>
      </div>
  
      <div class="container_botao_menu">
        <button class="botao_menu" (click)="exibeSideBar()" mat-icon-button>
          <mat-icon class="icone_menu">menu</mat-icon>
        </button>
      </div>
  
      <div class="container_icones_direita">
        <button
          mat-icon-button
          class="icon"
          matTooltip="Avisos"
          matTooltipPosition="below"
        >
          <mat-icon>error</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="icon">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu class="menu" #menu="matMenu">
          <button class="menu_button" mat-menu-item>
            <mat-icon>face_6</mat-icon>
            <span class="menu_text">Alterar perfil</span>
          </button>
          <button class="menu_button" mat-menu-item>
            <mat-icon>dark_mode</mat-icon>
            <span class="menu_text">Modo escuro</span>
          </button>
          <button class="menu_button" mat-menu-item>
            <mat-icon>support_agent</mat-icon>
            <span class="menu_text">Acionar suporte</span>
          </button>
          <button
            class="menu_button"
            mat-menu-item
            (click)="confirmaLogout('400ms', '400ms')"
          >
            <mat-icon>exit_to_app</mat-icon>
            <span class="menu_text">Sair</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
  