<mat-tab-group class="block_menu" [selectedIndex]="abaSelecionada.value"
    (selectedIndexChange)="abaSelecionada.setValue($event)" dynamicHeight>

    <mat-tab label="Alterações">
        <ng-template #acoesColaborador matTabContent>
            <app-alteracoes></app-alteracoes>
        </ng-template>
    </mat-tab>

    <mat-tab label="Produtividade">
        <div class="mat-elevation-z4">
            Dependente do módulo de vendas
        </div>
    </mat-tab>

    <mat-tab label="Advertências">
        <app-advertencias [abaSelecionada]="emiteMudancaDeAba"></app-advertencias>
    </mat-tab>

    <mat-tab label="Acessos">
        <app-acessos></app-acessos>
    </mat-tab>

</mat-tab-group>