@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.table_container {
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    font-size: 0.85rem;
    margin-bottom: 0;
    background-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.thead {
    background-color: transparent;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
    display: flex;
}

.linha_tabela,
.icon_container {
    margin: 0;
    padding: 0;
}

th {
    border: none !important;
    padding-bottom: 0.2rem;
    padding-top: 0;
}

td {
    cursor: pointer;
    padding: 0.3rem 0 !important;
    display: flex;
    align-items: center;
}

tbody {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0;
    border-top: none;
}

.icon_container {
    justify-content: center;
}

.icone {
    color: $dark-white;
    padding: 0;
    cursor: pointer;
}

.icone_tabela {
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icone_expand {
    color: $primary-color;
}

.td_nome {
    margin: 0;
}

.nome_cliente {
    padding: 0;
    margin: 0;
    padding-left: 0.5rem;
}

.td_acoes,
.th_acoes {
    text-align: center;
}

.td_acoes {
    padding: 0;
    padding-top: 0.45rem;
}

.icone_tabela_remove {
    color: $red;
}

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0.5rem 0;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

/* TABLE PAGINATION */

.pagination_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
}

.pagination {
    margin: 0;
}

.page-item {
    color: $light-grey;
}

.page-link {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0.2rem 1rem !important;
}

.page-link:hover {
    background-color: #24262c;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px $primary-color !Important;
}

@media (max-width: 992px) {
    th {
        font-size: 0.85rem;
    }

    td{
        font-size: 0.8rem;
        padding: 0.3rem 0 !important;
        vertical-align: middle;
        height: 2rem;
    }
    .td_acoes {
        padding: 0.2rem 0 !important;
    }
    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    th {
        font-size: 0.85rem;
    }

    td{
        font-size: 0.8rem;
        padding: 0.3rem 0 !important;
        display: flex;
        align-items: center;
    }
    .icone_tabela {
        font-size: 1.4rem;
        margin: 0;
    }

    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    th {
        padding: 0.4rem;
        font-size: 0.7rem;
    }

    td{
        padding: 0.3rem 0 !important;
        font-size: 0.6rem;
    }

    .nome_cliente {
        padding-left: 0.5rem;
    }

    .th_telefone {
        display: none;
    }

    .td_telefone {
        display: none;
    }

    .icone_expand {
        display: none;
    }

    .th_acoes {
        padding: 0.4rem 0;
    }

    .td_acoes {
        padding-top: 0.05;
    }

    .icone {
        font-size: 1.2rem;
        margin: 0;
    }
    .icone_tabela {
        width: 50%;
    }
    .accordion_titulo {
        font-size: 0.7rem;
    }
    .accordion_texto {
        font-size: 0.6rem;
    }
    .pagination_container {
        align-items: center;
    }
    .page-link {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem;
    }
}