@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.table_container {
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.table {
    font-size: 0.90rem;
    font-weight: 300;
    letter-spacing: 0.01rem;
    margin-bottom: 0;
    color: $dark-white;
    border-collapse: inherit;
    padding: 0;
    border-spacing: 0;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thead {
    background-color: transparent;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
    display: flex;
}

.linha_tabela,
.icon_container {
    margin: 0;
    padding: 0;
}

th {
    border: none !important;
    padding: 0;
    display: flex;
    font-weight: 800;
    vertical-align: middle !important;
    align-items: center !important;
    color: $light-white;
}

.th_acoes {
    display: flex;
    justify-content: center !important;
}

tr {
    border: 1px solid transparent !important;
    background-color: transparent;
}

.tr_titulo {
    padding: 0.5rem 0;
    border-bottom: 3px double #1a1b1f !important;
}

td {
    cursor: pointer;
    padding: 1rem 0 !important;
    display: flex;
    align-items: center;
    border-color: #1a1b1f;
    color: $light-grey;
}

tbody {
    background-color: transparent;
    padding: 0;
}

.icon_container {
    justify-content: center;
}

.icone {
    color: $dark-white;
    padding: 0;
    cursor: pointer;
}

.icone_tabela {
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icone_expand {
    color: $primary-color;
}

.th_expande, .td_expande {
    width: 10%;
    justify-content: center;
}

.th_checkbox, .td_checkbox {
    width: 5%;
    justify-content: left;
}

.th_nome, .td_nome {
    width: 30%;
}

.th_cpfCnpj, .td_cpfCnpj {
    width: 25%;
}

.th_status, .td_status {
    width: 20%;
}

.th_telefone, .td_telefone {
    width: 25%;
}

.th_giro, .td_giro {
    width: 20%;
}

.th_acoes, .td_acoes {
    width: 10%;
}

.nome_cliente {
    padding: 0;
    margin: 0;
    color: $light-white;
}

input[type='checkbox'] {
    accent-color: $primary-color;
}

.td_status_box {
    border: 1px solid green;
    color: green;
    padding: 0 1.5rem;
}

.td_acoes,
.th_acoes {
    text-align: center;
}

.td_acoes {
    padding: 0;
    padding-top: 0.45rem;
}

.dropdown-item {
    background-color: $light-white;
}

.icone_tabela_remove, .icone_tabela_giro {
    color: $primary-color;
}

.icone_tabela_giro{
    margin-left: 0.3rem;
}

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0.5rem 0;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

/* TABLE PAGINATION */

.pagination_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
}

.pagination {
    margin: 0;
}

.page-item {
    color: $light-grey;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-link {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0.2rem 1rem !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-link:hover {
    background-color: #24262c;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px $primary-color !Important;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover {
    color: $dark-grey;
    background-color: $light-grey !Important;
    border: solid 1px $light-grey !Important;
}

@media (max-width: 992px) {
    th, td {
        font-size: 0.8rem;
    }

    td{
        padding: 0.4rem 0 !important;
    }

    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    th, td {
        font-size: 0.75rem;
    }

    .th_giro, .td_giro{
        display: none;
    }
    
    .th_cpfCnpj, .td_cpfCnpj {
        width: 30%;
    }

    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    th, td {
        font-size: 0.7rem;
    }

    .th_giro, .td_giro {
        display: none;
    }

    .th_status, .td_status {
        display: none;
    }
    
    .th_cpfCnpj, .td_cpfCnpj {
        width: 30%;
    }

    .th_checkbox, .td_checkbox {
        width: 7%;
    }

    .pagination_container {
        align-items: center;
    }
    .page-link {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem;
    }
}

@media (max-width: 470px) {
    th, td {
        font-size: 0.7rem;
    }

    .th_checkbox, .td_checkbox {
        width: 15%;
    }

    .th_giro, .td_giro {
        display: none;
    }

    .th_status, .td_status {
        display: none;
    }

    .th_telefone, .td_telefone {
        display: none;
    }

    .th_nome, .td_nome {
        width: 35%;
    }
    
    .th_cpfCnpj, .td_cpfCnpj {
        width: 35%;
    }

    .th_checkbox, .td_checkbox {
        width: 15%;
        justify-content: center;
    }

    .pagination_container {
        align-items: center;
    }
    .page-link {
        padding: 0.2rem 0.5rem !important;
        font-size: 0.7rem;
    }
}

@media (max-width: 390px) {
    th, td {
        font-size: 0.6rem;
    }
}