<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table_container">

  <table class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table table-dark table-hover">

    <thead class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 thead">
      <tr class="tr_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <th class="th th_expande">
          <mat-icon (click)="alteraOrdenacao()" class="icon_expand_all" fontIcon="unfold_more"></mat-icon>
        </th>
        <th class="th th_checkbox">
          <input (click)="checkAll()" [checked]="botaoCheckAllHabilitado" type="checkbox" id="customCheck"
            name="example1">
        </th>
        <th class="th th_nome">
          NOME
        </th>
        <th class="th th_cpfCnpj">
          CPF/CNPJ
        </th>
        <th class="th th_status">
          STATUS
        </th>
        <th class="th th_telefone">
          TELEFONE
        </th>
        <th class="th th_giro">
          GIRO
        </th>
        <th class="th th_acoes">
          AÇÕES
        </th>
      </tr>
    </thead>

    <tbody *ngIf="pageObject != null; else: loadBarTabela" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <div *ngIf="clientesEncontrados.length > 0; else: tabelaVazia"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 linha_tabela_container">
        <div *ngFor="let cliente of clientesEncontrados; let i = index"
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 linha_tabela">

          <tr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <td class="td td_expande">
              <i (click)="alteraEstadoExpansaoTabela(i)"
                [ngClass]="{'fa-chevron-right': !cliente.expanded, 'fa-chevron-down': cliente.expanded}"
                class="icone icone_expand fas fa-solid" id="{{ 'linha-' + i }}" data-toggle="collapse"
                [attr.href]="'#collapse-' + i"></i>
            </td>

            <td class="td td_checkbox">
              <input (click)="alteraEstadoCheckTabela(i)" [checked]="cliente.checked" type="checkbox" class="checkbox">
            </td>

            <td class="td td_nome">
              <div class="nome_cliente">
                {{
                (cliente.nome.length > 14)
                ? (cliente.nome | slice:0:14 | titlecase)+'...'
                : (cliente.nome | titlecase)
                }}
              </div>
            </td>

            <td class="td td_cpfCnpj">
              {{ cliente.cpfCnpj != null && cliente.cpfCnpj != '' ? cliente.cpfCnpj : '-'}}
            </td>

            <td class="td td_status">
              <span class="status_comum" [ngClass]="{
                  'status_vip': cliente.statusCliente == 'VIP', 
                  'status_debito': cliente.statusCliente == 'DEVEDOR',
                  'status_comum': cliente.statusCliente == 'COMUM',
                  'status_atencao': cliente.statusCliente == 'ATENCAO'}">
                {{ cliente.statusCliente }}
              </span>
            </td>

            <td class="td td_telefone">
              {{ cliente.telefone != null ? '(' + cliente.telefone.prefixo + ') ' + cliente.telefone.numero : '-'}}
            </td>

            <td class="td td_giro">
              {{ cliente.giroTotal | currency : 'BRL' }}
              <mat-icon fontIcon="arrow_outward" class="icone icone_tabela icone_tabela_giro"></mat-icon>
            </td>

            <td class="td td_acoes">
              <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 icon_container">
                <mat-icon fontIcon="more_vert"
                  class="icone icone_tabela icone_tabela_remove dropdown dropleft float-right"
                  data-toggle="dropdown"></mat-icon>
                <div class="dropdown-menu">
                  <a class="dropdown-item">
                    Editar
                  </a>
                  <a (click)="excluiCliente(cliente.id)" class="dropdown-item">
                    Excluir
                  </a>
                </div>
              </div>
            </td>

          </tr>

          <!-- ACCORDION -->
          <div id="{{ 'collapse-' + i }}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 collapse collapsed"
            [attr.href]="'#linha-' + i" [attr.data-parent]="'#linha-' + i">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card-body accordion_container">

              <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_linha_principal">

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Responsável pelo
                        cadastro:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.nomeColaboradorResponsavel | titlecase }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data do cadastro:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.dataCadastro | date: 'dd/MM/yyyy' }} às {{ cliente.horaCadastro | slice:0:5}}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">E-mail:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (cliente.email != null && cliente.email != '')
                        ? (cliente.email)
                        : '-'}}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data de nascimento:
                      </h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (cliente.dataNascimento != null && cliente.dataNascimento != '')
                        ? (cliente.dataNascimento | date: 'dd/MM/yyyy')
                        : '-'}}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Inscrição estadual:
                      </h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.inscricaoEstadual != null ? cliente.inscricaoEstadual : '-' }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Giro total:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p *ngIf="cliente.giroTotal > 0; else ClienteSemGiro"
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.giroTotal | currency : 'BRL' }}
                        {{ cliente.qtdOrdensRealizadas == 1
                        ? '(' + cliente.qtdOrdensRealizadas + ' Ordem)'
                        : '(' + cliente.qtdOrdensRealizadas + ' Ordens)' }}
                      </p>
                      <ng-template #ClienteSemGiro>
                        <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                          {{ cliente.giroTotal | currency : 'BRL' }}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Endereço:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ trataEnderecoTabela(cliente.endereco) }}
                      </p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

      <ng-template #tabelaVazia>
        <div class="tabela_vazia_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          Nenhum cliente foi encontrado.
        </div>
      </ng-template>

    </tbody>

    <ng-template #loadBarTabela>
      <mat-progress-bar class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 load-bar-tabela"
        mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </table>

  <div *ngIf="pageObject != null" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pagination_container">
    <ul *ngIf="pageObject.totalPages > 1" class="pagination pagination-sm justify-content-end">
      <li (click)="voltarPagina()" [ngClass]="{'disabled': pageObject.pageable.pageNumber == 0}" class="page-item"><a
          class="page-link">Anterior</a></li>
      <ng-container *ngFor="let numero of GeraNumerosParaNavegarNaPaginacao(pageObject.totalPages); let i = index">
        <li *ngIf="(pageObject.pageable.pageNumber - i) <= 3 && (pageObject.pageable.pageNumber - i) >= 0
        || (i - pageObject.pageable.pageNumber) <= 3 && (i - pageObject.pageable.pageNumber) >= 0
        || pageObject.pageable.pageNumber == 0 && (i - pageObject.pageable.pageNumber) <= 6 && (i - pageObject.pageable.pageNumber) >= 0
        || pageObject.pageable.pageNumber == 1 && (i - pageObject.pageable.pageNumber) <= 5 && (i - pageObject.pageable.pageNumber) >= 0
        || pageObject.pageable.pageNumber == 2 && (i - pageObject.pageable.pageNumber) <= 4 && (i - pageObject.pageable.pageNumber) >= 0
        || (pageObject.pageable.pageNumber == (pageObject.totalPages-1)) && (pageObject.pageable.pageNumber - i) <= 6
        || (pageObject.pageable.pageNumber == (pageObject.totalPages-2)) && (pageObject.pageable.pageNumber - i) <= 5
        || (pageObject.pageable.pageNumber == (pageObject.totalPages-3)) && (pageObject.pageable.pageNumber - i) <= 4"
          (click)="selecionarPagina(i)" [ngClass]="{'active': pageObject.pageable.pageNumber == i}" class="page-item">
          <a class="page-link">{{ i+1 }}</a>
        </li>
      </ng-container>
      <li (click)="avancarPagina()" [ngClass]="{'disabled': pageObject.pageable.pageNumber == pageObject.totalPages-1}"
        class="page-item"><a class="page-link">Próximo</a></li>
    </ul>
  </div>
</div>