@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

.linha_tabela,
.icon_container,
.quantidade_exibida,
.thead_info,
.thead_info_icon_container,
.bt_header, 
.text_novo,
.input_filtro_container_content .input_filtro_container {
    margin: 0;
    padding: 0;
}

.table_container {
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.table {
    font-size: 0.90rem;
    font-weight: 300;
    letter-spacing: 0.01rem;
    margin-bottom: 0;
    color: $dark-white;
    border-collapse: inherit;
    padding: 0;
    border-spacing: 0;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid $light-black;
    background-color: $light-black;
    border-radius: 5px;
}

.thead {
    padding: 0;
    margin: 0;
    background-color: $light-black;
    border: 1px solid $light-black !important;
    border-radius: 5px 5px 0 0!important;
}

.thead_info {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}

.quantidade_exibida {
    font-family: $font-poppins;
    padding: 0 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: $light-grey;
}

.thead_info_icon_container {
    position: absolute;
    right: 1rem;
    top: 0.1rem;
}

.thead_info_icon_container select {
    display: flex;
    align-items: center;
}

.bt_header {
    border: 1px solid $light-grey;
    color: $light-grey;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    margin-left: 0.7rem;
}

.bt_header_novo {
    padding: 0.3rem 0.8rem;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $light-grey;
    animation: pulse 1.5s infinite;
}

.bt_header:focus {
    outline: none;
}

.bt_header_novo:hover {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $dark-white;
    transition: 0.3s;
}

.bt_header_option {
    background-color: $light-black;
    color: $light-grey;
}

.text_novo {
    display: flex;
    align-items: center;
    font-family: $font-poppins;
    font-size: 0.9rem;
    font-weight: 500;
}

/* TABLE */

th {
    border: none !important;
    padding: 0;
    display: flex;
    font-weight: 600;
    vertical-align: middle !important;
    align-items: center !important;
    color: $light-white;
}

.linha_tabela {
    background-color: $light-black;
    border-top: 1px solid $darker-grey;
}

.linha_tabela_expandida {
    -webkit-box-shadow:inset 0px 0px 0px 1px $dark-grey;
    -moz-box-shadow:inset 0px 0px 0px 1px $dark-grey;
    box-shadow:inset 0px 0px 0px 1px $dark-grey;
}

.linha_tabela:hover {
    background-color: $light-black-hover;
}

tr {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
}

.tr_titulo {
    //border-bottom: 1px double $light-black;
    padding: 0.5rem 0;
    //margin: 0.2rem 0;
}

td {
    cursor: pointer;
    padding: 0.7rem 0 !important;
    display: flex;
    align-items: center;
    border-color: #1a1b1f;
    color: $light-grey;
    border: none;
}

tbody {
    background-color: transparent;
    padding: 0;
}

.linha_tabela_container {
    padding: 0;
}

.load-bar-tabela {
    margin: 0 auto;
    margin-top: 3rem;
}

.icon_container {
    justify-content: center;
}

.icone {
    color: $dark-white;
    padding: 0;
    cursor: pointer;
}

.icone_head_container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.1rem 0.5rem;
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.7rem;
    cursor: pointer;
}

.icone_head_container:hover {
    background-color: $primary-color;
    color: $light-black;
    transition: 0.5s;
}

.icone_tabela {
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone_expand {
    color: $primary-color;
}

.th_expande,
.td_expande {
    justify-content: center;
    margin: 0;
    width: 10%;
    margin-right: 0.2rem;
}

.icon_expand_all {
    cursor: pointer;
}

.th_checkbox,
.td_checkbox {
    width: 10%;
    margin: 0;
    justify-content: center;
    margin-left: 0.2rem;
}

.th_nome,
.td_nome {
    width: 35%;
}

.th_cpfCnpj,
.td_cpfCnpj {
    width: 35%;
}

.th_status,
.td_status {
    width: 30%;
}

.th_telefone,
.td_telefone {
    width: 30%;
}

.th_giro,
.td_giro {
    width: 30%;
}

.th_acoes,
.td_acoes {
    width: 10%;
}

.nome_cliente {
    padding: 0;
    margin: 0;
    color: $light-white;
}

input[type='checkbox'] {
    accent-color: $primary-color;
}

.status_comum {
    border: 1px solid #1c3475;
    color: #1c3475;
    background-color: #b1bdf1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.status_vip {
    border: 1px solid #008000;
    color: #008000;
    background-color: #b1f1ce;
    border: 1px solid #663874;
    color: #663874;
    background-color: #e2b1f1;
    padding: 0 1.5rem;
    font-weight: 400;
}

.status_debito {
    border: 1px solid #581212;
    color: #581212;
    background-color: #f1b1b1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.status_atencao {
    border: 1px solid #75681d;
    color: #75681d;
    background-color: #f1e7b1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.td_acoes,
.th_acoes {
    display: flex;
    justify-content: center !important;
    text-align: center;
}

.td_acoes {
    padding: 0;
    padding-top: 0.45rem;
}

.dropdown-item {
    background-color: $light-white;
}

.icone_tabela_remove,
.icone_tabela_giro {
    color: $primary-color;
}

.icone_tabela_giro {
    margin-left: 0.3rem;
}

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0;
    padding-bottom: 0.5rem;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

/* EMPTY TABLE */

.tabela_vazia_container {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 1rem auto;
    margin-bottom: 2rem;
}

/* TABLE PAGINATION */

.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
    margin: 0.5rem 0;
    background-color: $light-black;
}

.pagination {
    margin: 0;
}

.page-item {
    color: $light-grey;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-link {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0.2rem 1rem !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-link:hover {
    background-color: #24262c;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px $primary-color !Important;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover {
    color: $dark-grey;
    background-color: $light-grey !Important;
    border: solid 1px $light-grey !Important;
}

@media (max-width: 2000px) {
    .table_container {
        margin-bottom: 0.6rem;
    }

    .thead_info {
        margin-bottom: 1rem;
    }

    .quantidade_exibida {
        font-size: 0.8rem;
    }

    .bt_header {
        padding: 0.1rem 0.3rem;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .bt_header_novo {
        padding: 0.1rem 0.6rem;
    }
}

@media (max-width: 1200px) {
    .th_giro, .td_giro {
        width: 35%;
    }

    .accordion_container {
        padding: 0;
        padding-bottom: 0.3rem;
    }

    .accordion_subbloco {
        padding: 0 0.5rem;
    }

    .accordion_titulo {
        font-size: 0.8rem;
    }

    .accordion_texto {
        font-size: 0.7rem;
    }
}

@media (max-width: 992px) {

    th,
    td {
        font-size: 0.8rem;
    }

    td {
        padding: 0.4rem 0 !important;
    }

    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.8rem;
    }

    .th_giro, .td_giro {
        width: 30%;
    }

    .accordion_container {
        padding-bottom: 0.3rem;
    }

    .accordion_titulo {
        font-size: 0.7rem;
    }

    .accordion_texto {
        font-size: 0.6rem;
    }

    .table_container {
        margin-bottom: 0.8rem;
    }

}

@media (max-width: 768px) {

    th,
    td {
        font-size: 0.75rem;
    }

    .th_giro,
    .td_giro {
        display: none;
    }

    .page-link {
        padding: 0.2rem 0.6rem !important;
        font-size: 0.8rem;
    }

}

@media (max-width: 576px) {

    th,
    td {
        font-size: 0.7rem;
    }

    .th_giro,
    .td_giro {
        display: none;
    }

    .th_status,
    .td_status {
        display: none;
    }

    .pagination_container {
        align-items: center;
    }

    .page-link {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem;
    }

    .table_container {
        margin-bottom: 1rem;
    }

    .quantidade_exibida {
        font-size: 0.8rem;
    }
    
    .pagination_container {
        margin-top: 0;
    }

}

@media (max-width: 470px) {
    th,
    td {
        font-size: 0.7rem;
    }

    .th_giro,
    .td_giro {
        display: none;
    }

    .th_status,
    .td_status {
        display: none;
    }

    .th_telefone,
    .td_telefone {
        display: none;
    }

    .pagination_container {
        align-items: center;
    }

    .page-link {
        padding: 0.2rem 0.5rem !important;
        font-size: 0.7rem;
    }

    .quantidade_exibida {
        font-size: 0.7rem;
    }

    .bt_header {
        font-size: 0.8rem;
        border-radius: 2px;
    }

}

@media (max-width: 390px) {
    th,
    td {
        font-size: 0.6rem;
    }

    .thead_info  {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .quantidade_exibida {
        font-size: 0.7rem;
    }

    .thead_info_icon_container {
        left: 1rem;
        top: 1.5rem;
        border-bottom: 1px solid $dark-grey;
        padding-bottom: 0.5rem;
    }

    .bt_header {
        padding: 0rem 0.2rem;
        font-size: 0.8rem;
        margin-left: 0;
        margin-right: 0.5rem;
        border-radius: 2px;
    }

    .bt_header_novo {
        padding: 0rem 0.5rem;
    }

}

@keyframes pulse{

    0%{
        transform: scale(0.99);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.99);
    }

}