@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

.th_nome,
.td_nome {
    width: 35%;
}

.th_cpfCnpj,
.td_cpfCnpj {
    width: 35%;
}

.th_status,
.td_status {
    width: 30%;
}

.th_telefone,
.td_telefone {
    width: 30%;
}

.th_giro,
.td_giro {
    width: 30%;
}

.nome_cliente {
    padding: 0;
    margin: 0;
    color: $light-white;
}

.status_comum {
    border: 1px solid #1c3475;
    color: #1c3475;
    background-color: #b1bdf1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.status_vip {
    border: 1px solid #663874;
    color: #663874;
    background-color: #e2b1f1;
    padding: 0 1.5rem;
    font-weight: 400;
}

.status_debito {
    border: 1px solid #581212;
    color: #581212;
    background-color: #f1b1b1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.status_atencao {
    border: 1px solid #75681d;
    color: #75681d;
    background-color: #f1e7b1;
    padding: 0 0.5rem;
    font-weight: 400;
}

.dropdown-item {
    background-color: $light-white;
}

.icone_tabela_remove,
.icone_tabela_giro {
    color: $primary-color;
}

.icone_tabela_giro {
    margin-left: 0.3rem;
}

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0;
    padding-bottom: 0.5rem;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

@media (max-width: 1200px) {
    .th_giro, .td_giro {
        width: 35%;
    }

    .accordion_container {
        padding: 0;
        padding-bottom: 0.3rem;
    }

    .accordion_subbloco {
        padding: 0 0.5rem;
    }

    .accordion_titulo {
        font-size: 0.8rem;
    }

    .accordion_texto {
        font-size: 0.7rem;
    }
}

@media (max-width: 992px) {
    .th_giro, .td_giro {
        width: 30%;
    }

    .accordion_container {
        padding-bottom: 0.3rem;
    }

    .accordion_titulo {
        font-size: 0.7rem;
    }

    .accordion_texto {
        font-size: 0.6rem;
    }
}

@media (max-width: 768px) {
    .th_giro,
    .td_giro {
        display: none;
    }
}

@media (max-width: 576px) {
    .th_giro,
    .td_giro {
        display: none;
    }

    .th_status,
    .td_status {
        display: none;
    }
}

@media (max-width: 470px) {
    .th_giro,
    .td_giro {
        display: none;
    }

    .th_status,
    .td_status {
        display: none;
    }

    .th_telefone,
    .td_telefone {
        display: none;
    }
}