@import "../../../../../../node_modules/rfs/scss";
@import '../../../../../dist/variables.scss';
@import '../novo/shared/custom-inputs.scss';

.container,
.titulo,
.form,
.chips_block,
.block,
app-custom-input,
app-custom-select,
app-custom-title-container,
app-custom-date-input,
app-custom-time-input {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $light-black;
    padding: 2rem 2rem;
    margin: 1rem 0;
}

.titulo {
    font-family: $font-poppins;
    color: $dark-white;
    font-weight: 600;
    font-size: 1.3rem;
}

mat-horizontal-stepper,
mat-step {
    background-color: transparent;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0 0.5rem !important;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 2px !important;
    border-top-color: $dark-grey;
}

.fa {
    font-size: 1rem;
    color: $light-black;
}

::ng-deep.mat-step-header .mat-step-icon {
    background-color: $dark-grey !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
    background-color: $primary-color !important;
    color: $primary-color;
}

::ng-deep.mat-step-header .mat-step-icon-selected .mat-step-icon-content i {
    animation: pulse 1.2s infinite;
}

::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: $primary-color !important;
}

::ng-deep .mat-step-header .mat-step-label {
    padding-top: 0.2rem;
}

span {
    color: $dark-grey !important;
    font-weight: 500;
    font-size: 1rem;
    font-family: $font-roboto;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active .mat-step-text-label span {
    color: $primary-color !important;
    font-weight: 600;
}

.error_message {
    color: $strong-red;
    font-weight: 400;
    font-size: 0.6rem;
    position: absolute;
    right: 0;
}

option,
select,
input {
    background: $dark-black !important;
    color: $primary-color !important;
    border: 1px solid $dark-grey !important;
    font-family: $font-poppins !important;
}

option:focus,
select:focus,
input:focus {
    border: 1px solid $primary-color !important;
    outline: none;
}

.icone {
    right: 0.5rem;
}

.button_container {
    display: flex;
    justify-content: right;
}

.button {
    background-color: transparent;
    font-family: $font-poppins;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 1rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    cursor: pointer;
}

.button:hover {
    border: 1px solid $primary-color;
    color: $light-black;
    background-color: $primary-color;
    transition: 0.5s;
}

.button:focus {
    outline: none;
    box-shadow: none;
    transition: 0.3s;
    border: 1px solid $primary-color-dark;
    color: $primary-color-dark;
}

.input_file {
    border: 1px solid $dark-grey;
    background-color: $dark-black;
    color: $primary-color;
    font-size: 1rem;
    font-weight: 400;
    font-family: $font-poppins;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.limpar_file {
    color: $dark-grey;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    text-decoration: underline;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $primary-color;
}

.limpar_file:focus {
    outline: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.botao {
    background-color: $primary-color;
    border: 1px solid $primary-color-darker;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: $font-poppins;
    color: $dark-white;
    cursor: pointer;
}

.botao:focus {
    outline: none;
}

.botao:hover {
    background-color: $primary-color-dark;
    transition: 0.2s;
}

.botaoDesabilitado {
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    cursor: auto;
}

.botaoDesabilitado:hover {
    background-color: $light-grey;
}

.input_group_bt {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin-top: 1rem;
}

.input_group_modulo {
    padding-bottom: 1rem;
}

.chips_container {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.chips_block {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.chip {
    padding: 0.5rem 1rem;
    font-family: $font-poppins;
    font-size: 0.90rem;
    font-weight: 400;
    border-radius: 5px;
    color: $primary-color;
    border: 1px solid $primary-color;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chip:hover {
    transition: 0.3s;
    color: $dark-white;
    border: 1px solid $primary-color-darker;
    background-color: $primary-color;
}

@media (max-width: 960px) {

    .hr {
        margin-bottom: 0;
    }

    .button {
        padding: 0.4rem 2.5rem;
    }

}

@media (max-width: 768px) {

    .container {
        padding: 1.5rem 1.5rem;
    }

    .hr {
        margin: 1rem 0;
        margin-bottom: 0;
    }

    .button_container {
        padding: 0;
    }

    .button {
        padding: 0.4rem 2rem;
    }

}

@media (max-width: 576px) {

    .container {
        padding: 1rem;
    }

    .titulo {
        font-size: 1.1rem;
    }

    .hr {
        margin: 0.7rem 0;
        margin-bottom: 0;
    }

    .input_group_without_component {
        padding: 0rem 1rem 1.5rem 1rem !important;
    }

    .input_file {
        font-size: 0.9rem;
    }

    .botao {
        font-size: 0.8rem;
        padding: 0.4rem 1rem;
    }

    .chip {
        padding: 0.3rem 0.5rem;
        font-size: 0.85rem;
    }

    .button_container {
        padding: 0 1rem;
        margin-bottom: 0.5rem;
    }

    .button {
        padding: 0.3rem 1.7rem;
    }

    ::ng-deep .mat-step-icon {
        margin: 0 !important;
    }

    ::ng-deep .mat-step-label {
        display: none !important;
    }

    ::ng-deep .mat-horizontal-stepper-header {
        padding: 0 0.5rem !important;
    }
}

@media (max-width: 450px) {

    .titulo {
        font-size: 1rem;
    }

    .hr {
        margin: 0.8rem 0;
        margin-bottom: 0;
    }

    .input_file {
        font-size: 0.8rem;
    }

    .botao {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
    }

    .chip {
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
    }

    .button_container {
        padding: 0 1rem;
        margin-bottom: 0.5rem;
    }

    .button {
        padding: 0.2rem 1.5rem;
        font-size: 0.85rem;
    }

}

@keyframes pulse {

    0% {
        transform: scale(0.90);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.90);
    }

}