@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.table_container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.table_container_height_auto {
    height: auto;
}

table {
    padding: 0 1rem !important;
    background-color: $light-black;
}

thead {
    border-bottom: 1px solid $dark-grey;
}

thead tr th {
    padding: 1rem 0.75rem;
}

tbody tr td {
    padding: 1rem 0.75rem;
}

tr th:first-of-type,
tr th:last-of-type {
    display: flex;
    justify-content: center;
}

tr td:first-of-type {
    padding: 1.6rem 0 !important;
}

tr td:first-of-type,
tr td:last-of-type {
    display: flex;
    justify-content: center;
}

.table td,
.table th {
    font-family: $font-poppins;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.th_content {
    color: $light-white;
}

.td_content {
    color: $dark-white;
}

tr:hover {
    cursor: pointer;
}

.icone_tabela {
    color: $primary-color;
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: $primary-color;
    outline: none;
}

.tabela_vazia_container {
    width: 100%;
    padding: 0;
    margin: 4.5rem 0 2rem 0;
    font-size: 0.90rem;
    color: $dark-white;
    font-weight: 400;
    font-family: $font-poppins;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-white;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    box-shadow: inset 0 0 2px $dark-black;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark;
}

.load-bar-tabela {
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}

span {
    padding: 0.2rem 0rem;
    font-weight: 400;
}

.red_span, .yellow_span, .green_span, .purple_span, .blue_span {
    padding: 0.2rem 0.5rem;
}

.red_span {
    border: 1px solid #581212;
    color: #581212;
    background-color: #f1b1b1;
}

.yellow_span {
    border: 1px solid #75681d;
    color: #75681d;
    background-color: #f1e7b1;
}

.green_span {
    border: 1px solid $success;
    color: $success;
}

.purple_span {
    border: 1px solid #663874;
    color: #663874;
    background-color: #e2b1f1;
}

.blue_span {
    border: 1px solid #1c3475;
    color: #1c3475;
    background-color: #b1bdf1;
}

.dropdown-menu,
.dropdown-item {
    background-color: $light-black !important;
}

.dropdown-item {
    margin: 0;
    display: flex;
    padding: 0.2rem 1rem;
}

.dropdown-item-text {
    color: $dark-white;
    font-family: $font-poppins;
    font-size: 0.9rem;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.dropdown-item:hover > .option_icon, 
.dropdown-item:hover > .dropdown-item-text {
    color: $primary-color !important;
    transition: 0.2s;
}

.dropdown-item-excluir:hover > .option_icon-excluir, 
.dropdown-item-excluir:hover > .dropdown-item-text-excluir {
    color: $red !important;
    transition: 0.2s;
}

.option_icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: $dark-white;
}

.icone_nada_encontrado {
    font-size: 70px;
    width: 70px;
    height: 70px;
    margin-bottom: 0.3rem;
}

.text_nada_encontrado {
    font-size: 0.9rem;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {

    tr td,
    tr th {
        font-size: 0.8rem !important;
    }

    .lg {
        display: none;
    }
}

@media (max-width: 768px) {

    tr td,
    tr th {
        font-size: 0.7rem !important;
    }

    .md {
        display: none;
    }
}

@media (max-width: 576px) {
    .tabela_vazia_container {
        font-size: 0.8rem;
    }

    tr td,
    tr th {
        font-size: 0.6rem !important;
    }

    .sm {
        display: none;
    }
}

@media (max-width: 470px) {}