<form #dadosColaboradorForm="ngForm" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    [formGroup]="dadosColaborador">

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container"
        matTooltip="Preenchimento dos dados pessoais do colaborador. O campo nome é obrigatório"
        (click)="inputNome.focus()">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Dados pessoais
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- INPUT GROUP NOME -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label
                [ngClass]="{'label_invalida': dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid}"
                class="label">
                Nome
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input matInput formControlName="nome" name="nome" maxlength="50" autocapitalize="words"
                style="text-transform:uppercase" spellcheck="false" tabindex="1" type="text" autofocus="on"
                autocomplete="off" #inputNome
                [ngClass]="{'input_invalida': dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon *ngIf="dadosColaborador.controls['nome'].touched" [fontIcon]="dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid
            ? 'error' 
            : 'check'" [@fadeInOut] (click)="inputNome.focus()"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['nome'].invalid,
                        'icone_error': dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid}" class="icone"></mat-icon>
        </div>

        <div [@fadeInOut] *ngIf="dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ dadosColaborador.controls['nome'].errors['minlength']
                ? 'A quantidade mínima para este campo é de 3 caracteres'
                : 'O campo nome não pode ser vazio' }}</h6>
        </div>
    </div>

    <!-- INPUT GROUP CPF/CNPJ -->
    <div class="row col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 input_group input_group_cpfCnpj">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label
                [ngClass]="{'label_invalida': dadosColaborador.controls['cpfCnpj'].touched && dadosColaborador.controls['cpfCnpj'].invalid}"
                class="label">CPF</label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="cpfCnpj" name="cpfCnpj" spellcheck="false"
                tabindex="2" (input)="realizaTratamentoCpfCnpj()" [maxlength]="inputLengthCpfCnpj" #inputCpfCnpj
                [ngClass]="{'input_invalida': dadosColaborador.controls['cpfCnpj'].touched && dadosColaborador.controls['cpfCnpj'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] [fontIcon]="defineIconeInputCpfCnpj()" [ngClass]="{ 'icone_ok': defineIconeInputCpfCnpj() == 'check' || defineIconeInputCpfCnpj() == 'badge',
                                                    'icone_error': defineIconeInputCpfCnpj() == 'error' }"
                (click)="inputCpfCnpj.focus()" class="icone"></mat-icon>
        </div>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['cpfCnpj'].touched && dadosColaborador.controls['cpfCnpj'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir ' + inputLengthCpfCnpj + ' dígitos' +
                '
                numéricos' }}</h6>
        </div>

    </div>

    <!-- DATA DE NASCIMENTO -->
    <div class="row col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 input_group input_group_dataNascimento">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label">
                Data de nascimento
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input min="1900-01-01" max="2023-04-17" [ngClass]="{'emptyDate': 
                dadosColaborador.controls['dataNascimento'].value == null 
                || dadosColaborador.controls['dataNascimento'].value == ''}" type="date"
                formControlName="dataNascimento" (focusout)="validaDataNascimento()" #inputDataNascimento
                name="dataNascimento" tabindex="-1" formControlName="dataNascimento" name="dataNascimento"
                class="input input_data col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] [fontIcon]="defineIconeDataNascimento()" [ngClass]="{'icone_ok': defineIconeDataNascimento() == 'calendar_month' || defineIconeDataNascimento() == 'check',
                                                    'icone_error': defineIconeDataNascimento() == 'error' }"
                class="icone"></mat-icon>
            <div class="input_data_placeholder" *ngIf="!dataNascimentoAparente" [@fadeInOut] tabindex="3"
                (focus)="habilitaDataNascimento()" (click)="habilitaDataNascimento()" [ngStyle]="{'cursor': 'text' }">
            </div>
        </div>
    </div>

    <!-- E-MAIL -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group input_group_email">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['email'].touched && dadosColaborador.controls['email'].invalid}">
                E-mail
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="email" autocomplete="off" maxlength="50" spellcheck="false" tabindex="3"
                style="text-transform:lowercase" #inputEmail
                [ngClass]="{'input_invalida': dadosColaborador.controls['email'].touched && dadosColaborador.controls['email'].invalid}"
                formControlName="email" name="email" class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] [fontIcon]="defineIconeInputEmail()" [ngClass]="{ 'icone_ok': defineIconeInputEmail() == 'check' || defineIconeInputEmail() == 'alternate_email',
                                                    'icone_error': defineIconeInputEmail() == 'error' }"
                (click)="inputEmail.focus()" class="icone"></mat-icon>
        </div>
        <div [@fadeInOut] class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 *ngIf="dadosColaborador.controls['email'].touched && dadosColaborador.controls['email'].invalid"
                class="error_message">{{ 'O e-mail digitado é inválido' }}</h6>
        </div>
    </div>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container titulo_sessao_container_primeiro"
        matTooltip="Preenchimento dos dados do telefone do colaborador. Caso o tipo seja fixo, móvel ou móvel com whatsapp, 
    o preenchimendo do prefixo e do número são obrigatórios" (click)="inputTipoTelefone.focus()">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Telefone
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- Tipo do telefone -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label">Tipo do telefone</label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <select formControlName="tipoTelefone" name="tipoTelefone" tabindex="5"
                (change)="atualizaValidatorsTelefone()" class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                #inputTipoTelefone>
                <option value="" selected>Sem telefone</option>
                <option value="FIXO">Fixo</option>
                <option value="MOVEL">Móvel</option>
                <option value="MOVEL_WHATSAPP">Móvel com whatsapp</option>
            </select>
        </div>
    </div>

    <!-- PREFIXO -->
    <div class="row col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].invalid}"
                [ngClass]="{'label_desabilitada': !verificaSeTipoTelefoneNuloOuVazio()}">
                Prefixo
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" maxlength="2" spellcheck="false" (input)="realizaTratamentoPrefixo()"
                tabindex="6"
                [ngClass]="{'input_invalida': dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].invalid}"
                formControlName="prefixo" name="prefixo" class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].value != ''"
                [fontIcon]="dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].invalid 
            ? 'error' 
            : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['prefixo'].invalid,
                    'icone_error': dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].invalid}"
                class="icone"></mat-icon>
        </div>
        <div [@fadeInOut] class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 *ngIf="dadosColaborador.controls['prefixo'].touched && dadosColaborador.controls['prefixo'].invalid"
                class="error_message">{{ 'O prefixo deve possuir dois números' }}</h6>
        </div>
    </div>

    <!-- NÚMERO -->
    <div class="row col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['numeroTelefone'].touched && dadosColaborador.controls['numeroTelefone'].invalid}"
                [ngClass]="{'label_desabilitada': !verificaSeTipoTelefoneNuloOuVazio()}">
                Número
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" [maxlength]="inputLengthTelefone" spellcheck="false"
                (input)="realizaTratamentoNumeroTelefone()" tabindex="7"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                [ngClass]="{'input_invalida': dadosColaborador.controls['numeroTelefone'].touched && dadosColaborador.controls['numeroTelefone'].invalid}"
                formControlName="numeroTelefone" name="numeroTelefone">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['tipoTelefone'].value != '' && dadosColaborador.controls['tipoTelefone'].value != null"
                [fontIcon]="defineIconeInputTelefone()" [ngClass]="{'icone_ok': defineIconeInputTelefone() == 'smartphone' || defineIconeInputTelefone() == 'check' || defineIconeInputTelefone() == 'call' ,
                    'icone_error': defineIconeInputTelefone() == 'error'}" class="icone"></mat-icon>
        </div>
        <div [@fadeInOut] class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 *ngIf="dadosColaborador.controls['numeroTelefone'].touched && dadosColaborador.controls['numeroTelefone'].invalid"
                class="error_message">{{ 'O número deve ser composto por ' + inputLengthTelefone + '
                caracteres numéricos' }}</h6>
        </div>
    </div>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container"
        matTooltip="Preenchimento dos dados de endereço do 
    colaborador. Caso qualquer campo do endereço esteja preenchido, os campos logradouro e número se fazem obrigatórios" (click)="codigoPostal.focus()">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Endereço
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- CÓDIGO POSTAL -->
    <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid}">
                Cep
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="codigoPostal" name="codigoPostal" spellcheck="false"
                #codigoPostal (input)="realizaTratamentoCodigoPostal()" maxlength="8" tabindex="8"
                [ngClass]="{'input_invalida': dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].value != ''"
                [fontIcon]="dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid 
                        ? 'error' 
                        : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['codigoPostal'].invalid,
                                'icone_error': dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid}"
                class="icone"></mat-icon>
        </div>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir 8 dígitos numéricos' }}</h6>
        </div>
    </div>

    <!-- ESTADO -->
    <div class="row col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['estado'].touched && dadosColaborador.controls['estado'].invalid}">
                Estado
            </label>
        </div>
        <select formControlName="estado" name="estado" (change)="obtemTodosMunicipiosPorEstado()"
            class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" tabindex="9">
            <option value=""></option>
            <option *ngFor="let estado of estadosResponse" [value]="estado.sigla">{{ estado.sigla + ' - ' +
                estado.nome | uppercase}}</option>
        </select>
    </div>

    <!-- CIDADE -->
    <div class="row col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}">
                Cidade
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="cidade" name="cidade"
                style="text-transform:uppercase" spellcheck="false" list="municipiosEstado" maxlength="50"
                (input)="atualizaValidatorsEndereco()" (change)="atualizaValidatorsEndereco()" tabindex="10"
                [ngClass]="{'input_invalida': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}"
                class="input input_cidade col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].value != ''"
                [fontIcon]="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid 
                        ? 'error' 
                        : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['cidade'].invalid,
                                'icone_error': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}"
                class="icone"></mat-icon>
        </div>

        <datalist id="municipiosEstado">
            <option *ngFor="let municipio of municipiosResponse" [value]="municipio.nome | uppercase">
            </option>
        </datalist>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir 8 dígitos numéricos' }}</h6>
        </div>
    </div>

    <!-- LOGRADOURO -->
    <div class="row col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label" [ngClass]="{'label_invalida': dadosColaborador.controls['logradouro'].invalid}">
                Logradouro
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="logradouro" name="logradouro"
                style="text-transform:uppercase" spellcheck="false" tabindex="11" maxlength="50"
                (input)="atualizaValidatorsEndereco()"
                [ngClass]="{'input_invalida': dadosColaborador.controls['logradouro'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] *ngIf="dadosColaborador.controls['logradouro'].touched && dadosColaborador.controls['logradouro'].invalid 
                        || dadosColaborador.controls['logradouro'].valid 
                            && dadosColaborador.controls['logradouro'].touched 
                            && dadosColaborador.controls['logradouro'].value != '' 
                            && dadosColaborador.controls['logradouro'].value != null" [fontIcon]="dadosColaborador.controls['logradouro'].touched && dadosColaborador.controls['logradouro'].invalid 
                            ? 'error' 
                            : 'check'" [ngClass]="{'icone_ok': !dadosColaborador.controls['logradouro'].invalid,
                            'icone_error': dadosColaborador.controls['logradouro'].invalid}" class="icone"></mat-icon>
        </div>

        <div [@fadeInOut] *ngIf="dadosColaborador.controls['logradouro'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Campo obrigatório' }}</h6>
        </div>
    </div>

    <!-- NUMERO -->
    <div class="row col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label" [ngClass]="{'label_invalida': dadosColaborador.controls['numero'].invalid}">
                Número
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="numero" name="numero" maxlength="5"
                spellcheck="false" (input)="atualizaValidatorsEndereco()" #numeroEndereco
                [ngClass]="{'input_invalida': dadosColaborador.controls['numero'].invalid}" tabindex="12"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] *ngIf="dadosColaborador.controls['numero'].touched && dadosColaborador.controls['numero'].invalid 
                        || dadosColaborador.controls['logradouro'].valid 
                            && dadosColaborador.controls['numero'].touched 
                            && dadosColaborador.controls['numero'].value != '' 
                            && dadosColaborador.controls['numero'].value != null" [fontIcon]="dadosColaborador.controls['numero'].touched && dadosColaborador.controls['numero'].invalid 
                            ? 'error' 
                            : 'check'" [ngClass]="{'icone_ok': !dadosColaborador.controls['numero'].invalid,
                            'icone_error': dadosColaborador.controls['numero'].invalid}" class="icone"></mat-icon>
        </div>

        <div [@fadeInOut] *ngIf="dadosColaborador.controls['numero'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Campo obrigatório' }}</h6>
        </div>
    </div>

    <!-- BAIRRO -->
    <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid}">
                Bairro
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="bairro" name="bairro"
                style="text-transform:uppercase" spellcheck="false" tabindex="13" maxlength="50"
                (input)="atualizaValidatorsEndereco()"
                [ngClass]="{'input_invalida': dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].value != ''"
                [fontIcon]="dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid 
                            ? 'error' 
                            : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['bairro'].invalid,
                            'icone_error': dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid}"
                class="icone"></mat-icon>
        </div>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir 8 dígitos numéricos' }}</h6>
        </div>
    </div>

    <!-- COMPLEMENTO -->
    <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].invalid}">
                Complemento
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="complemento" name="complemento"
                style="text-transform:uppercase" spellcheck="false" tabindex="14" maxlength="80"
                (input)="atualizaValidatorsEndereco()"
                [ngClass]="{'input_invalida': dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].invalid}"
                class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].value != ''"
                [fontIcon]="dadosColaborador.controls['complemento'].touched 
                && dadosColaborador.controls['complemento'].invalid 
                && getValueAtributoDadosColaborador('complemento') != '' 
                && getValueAtributoDadosColaborador('complemento') != null
                            ? 'error' 
                            : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['complemento'].invalid,
                            'icone_error': dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].invalid}"
                class="icone"></mat-icon>
        </div>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir no máximo 80 caracteres' }}</h6>
        </div>
    </div>

    <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <button type="button" class="button botaoHabilitado" #botaoVoltarVisualizacao mat-button tabindex="15"
            (click)="retornaParaVisualizacao()">
            Voltar
        </button>
        <button type="button" class="button" tabindex="16"
            [disabled]="dadosColaboradorForm.valid ? false : true"
            [ngClass]="{'botaoHabilitado': dadosColaboradorForm.valid, 'botaoDesabilitado': !dadosColaboradorForm.valid}"
            mat-button matStepperNext #botaoProximoPrimeiraEtapa>Próximo</button>
    </div>
</form>