<form #dadosColaboradorForm="ngForm" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    [formGroup]="dadosColaborador">

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container"
        matTooltip="Preenchimento dos dados pessoais do colaborador. O campo nome é obrigatório">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Dados pessoais
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- INPUT GROUP NOME -->
    <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'nome'" [titulo]="'Nome'"
        [tabIndex]="1" [maxLength]="50" [touched]="dadosColaborador.controls['nome'].touched"
        [todosCaracteresMaiusculos]="true" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['nome'].disabled"
        [valido]="!(dadosColaborador.controls['nome'].touched && dadosColaborador.controls['nome'].invalid)"
        [mensagemErro]="'Campo obrigatório de no mínimo 3 caracteres'" formControlName="nome"
        #inputNome></app-custom-input>

    <!-- INPUT GROUP CPF/CNPJ -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" [id]="'cpf'" [titulo]="'CPF'" [tabIndex]="2"
        [maxLength]="inputLengthCpfCnpj" [touched]="dadosColaborador.controls['cpfCnpj'].touched"
        [disabledGroup]="dadosColaborador.controls['cpfCnpj'].disabled" [todosCaracteresMaiusculos]="false"
        [customIcon]="'badge'" (input)="realizaTratamentoCpfCnpj()"
        [valido]="!(dadosColaborador.controls['cpfCnpj'].touched && dadosColaborador.controls['cpfCnpj'].invalid)"
        [mensagemErro]="'Este campo deve possuir ' + inputLengthCpfCnpj + ' dígitos numéricos'"
        formControlName="cpfCnpj" #inputCpfCnpj></app-custom-input>

    <!-- DATA DE NASCIMENTO -->
    <div class="row col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 input_group input_group_dataNascimento">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label">
                Data de nascimento
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input min="1900-01-01" max="2023-04-17" [ngClass]="{'emptyDate': 
                dadosColaborador.controls['dataNascimento'].value == null 
                || dadosColaborador.controls['dataNascimento'].value == ''}" type="date"
                formControlName="dataNascimento" (focusout)="validaDataNascimento()" #inputDataNascimento
                name="dataNascimento" tabindex="-1" formControlName="dataNascimento" name="dataNascimento"
                class="input input_data col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut] [fontIcon]="defineIconeDataNascimento()" [ngClass]="{'icone_ok': defineIconeDataNascimento() == 'calendar_month' || defineIconeDataNascimento() == 'check',
                                                    'icone_error': defineIconeDataNascimento() == 'error' }"
                class="icone"></mat-icon>
            <div class="input_data_placeholder" *ngIf="!dataNascimentoAparente" [@fadeInOut] tabindex="3"
                (focus)="habilitaDataNascimento()" (click)="habilitaDataNascimento()" [ngStyle]="{'cursor': 'text' }">
            </div>
        </div>
    </div>

    <!-- INPUT GROUP EMAIL -->
    <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'email'" [titulo]="'E-mail'"
        [tabIndex]="4" [maxLength]="50" [touched]="dadosColaborador.controls['email'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="'alternate_email'"
        [disabledGroup]="dadosColaborador.controls['email'].disabled"
        [valido]="!(dadosColaborador.controls['email'].touched && dadosColaborador.controls['email'].invalid)"
        [mensagemErro]="'O e-mail digitado é inválido'" formControlName="email" #inputEmail></app-custom-input>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container titulo_sessao_container_primeiro"
        matTooltip="Preenchimento dos dados do telefone do colaborador. Caso o tipo seja fixo, móvel ou móvel com whatsapp, 
    o preenchimendo do prefixo e do número são obrigatórios" (click)="inputTipoTelefone.focus()">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Telefone
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- SELECT GROUP TIPO DO TELEFONE -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label">Tipo do telefone</label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <select formControlName="tipoTelefone" name="tipoTelefone" tabindex="5"
                (change)="atualizaValidatorsTelefone()" class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                #inputTipoTelefone>
                <option value="" selected>Sem telefone</option>
                <option value="FIXO">Fixo</option>
                <option value="MOVEL">Móvel</option>
                <option value="MOVEL_WHATSAPP">Móvel com whatsapp</option>
            </select>
        </div>
    </div>

    <!-- INPUT GROUP PREFIXO -->
    <app-custom-input class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12" [id]="'prefixo'" [titulo]="'Prefixo'"
        [tabIndex]="6" [maxLength]="2" [touched]="dadosColaborador.controls['prefixo'].touched"
        [todosCaracteresMaiusculos]="false" customIcon="null"
        [disabledGroup]="dadosColaborador.controls['prefixo'].disabled"
        [valido]="!(dadosColaborador.controls['prefixo'].invalid)"
        [mensagemErro]="'O prefixo deve possuir dois números'" formControlName="prefixo"
        #inputPrefixo></app-custom-input>

    <!-- INPUT GROUP NÚMERO -->
    <app-custom-input class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12" [id]="'numeroTelefone'" [titulo]="'Número'"
        [tabIndex]="7" [maxLength]="inputLengthTelefone" [touched]="dadosColaborador.controls['numeroTelefone'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="'call'" (input)="realizaTratamentoNumeroTelefone()"
        [disabledGroup]="dadosColaborador.controls['numeroTelefone'].disabled"
        [valido]="!(dadosColaborador.controls['numeroTelefone'].invalid)"
        [mensagemErro]="'O número deve ser composto por ' + inputLengthTelefone + ' caracteres numéricos'"
        formControlName="numeroTelefone" #inputNumeroTelefone></app-custom-input>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao_container"
        matTooltip="Preenchimento dos dados de endereço do 
    colaborador. Caso qualquer campo do endereço esteja preenchido, os campos logradouro e número se fazem obrigatórios">
        <h3 class="titulo_sessao col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            Endereço
        </h3>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 hr_container">
        <hr class="hr">
    </div>

    <!-- INPUT GROUP CEP -->
    <app-custom-input class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'cep'" [titulo]="'Cep'" [tabIndex]="8"
        [maxLength]="8" [touched]="dadosColaborador.controls['codigoPostal'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['codigoPostal'].disabled" (input)="realizaTratamentoCodigoPostal()"
        [valido]="!(dadosColaborador.controls['codigoPostal'].touched && dadosColaborador.controls['codigoPostal'].invalid)"
        [mensagemErro]="'Este campo deve possuir 8 dígitos numéricos'" formControlName="codigoPostal"
        #inputCodigoPostal></app-custom-input>

    <!-- SELECT GROUP ESTADO -->
    <div class="row col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['estado'].touched && dadosColaborador.controls['estado'].invalid}">
                Estado
            </label>
        </div>
        <select formControlName="estado" name="estado" (change)="obtemTodosMunicipiosPorEstado()"
            class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" tabindex="9">
            <option value=""></option>
            <option *ngFor="let estado of estadosResponse" [value]="estado.sigla">{{ estado.sigla + ' - ' +
                estado.nome | uppercase}}</option>
        </select>
    </div>

    <!-- CIDADE -->
    <div class="row col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 input_group">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_invalida': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}">
                Cidade
            </label>
        </div>
        <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="text" autocomplete="off" formControlName="cidade" name="cidade"
                style="text-transform:uppercase" spellcheck="false" list="municipiosEstado" maxlength="50"
                (input)="atualizaValidatorsEndereco()" (change)="atualizaValidatorsEndereco()" tabindex="10"
                [ngClass]="{'input_invalida': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}"
                class="input input_cidade col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <mat-icon [@fadeInOut]
                *ngIf="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].value != ''"
                [fontIcon]="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid 
                        ? 'error' 
                        : 'check'"
                [ngClass]="{'icone_ok': !dadosColaborador.controls['cidade'].invalid,
                                'icone_error': dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid}"
                class="icone"></mat-icon>
        </div>

        <datalist id="municipiosEstado">
            <option *ngFor="let municipio of municipiosResponse" [value]="municipio.nome | uppercase">
            </option>
        </datalist>

        <div [@fadeInOut]
            *ngIf="dadosColaborador.controls['cidade'].touched && dadosColaborador.controls['cidade'].invalid"
            class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6 class="error_message">{{ 'Este campo deve possuir 8 dígitos numéricos' }}</h6>
        </div>
    </div>

    <!-- INPUT GROUP LOGRADOURO -->
    <app-custom-input class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12" [id]="'logradouro'" [titulo]="'Logradouro'"
        [tabIndex]="11" [maxLength]="50" [touched]="dadosColaborador.controls['logradouro'].touched"
        [todosCaracteresMaiusculos]="true" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['logradouro'].disabled" (input)="atualizaValidatorsEndereco()"
        [valido]="!(dadosColaborador.controls['logradouro'].invalid)" [mensagemErro]="'Campo obrigatório'"
        formControlName="logradouro" #inputLogradouro></app-custom-input>

    <!-- INPUT GROUP NUMERO -->
    <app-custom-input class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12" [id]="'numero'" [titulo]="'Número'"
        [tabIndex]="12" [maxLength]="5" [touched]="dadosColaborador.controls['numero'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['numero'].disabled" (input)="realizaTratamentoNumero()"
        [valido]="!(dadosColaborador.controls['numero'].invalid)" [mensagemErro]="'Campo obrigatório'"
        formControlName="numero" #inputNumero></app-custom-input>

    <!-- INPUT GROUP BAIRRO -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" [id]="'bairro'" [titulo]="'Bairro'"
        [tabIndex]="13" [maxLength]="50" [touched]="dadosColaborador.controls['bairro'].touched"
        [todosCaracteresMaiusculos]="true" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['bairro'].disabled" (input)="atualizaValidatorsEndereco()"
        [valido]="!(dadosColaborador.controls['bairro'].touched && dadosColaborador.controls['bairro'].invalid)"
        [mensagemErro]="'Esse campo deve possuir no máximo 50 caracteres'" formControlName="bairro"
        #inputBairro></app-custom-input>

    <!-- INPUT GROUP COMPLEMENTO -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" [id]="'complemento'" [titulo]="'Complemento'"
        [tabIndex]="14" [maxLength]="80" [touched]="dadosColaborador.controls['complemento'].touched"
        [todosCaracteresMaiusculos]="true" [customIcon]="null"
        [disabledGroup]="dadosColaborador.controls['complemento'].disabled" (input)="atualizaValidatorsEndereco()"
        [valido]="!(dadosColaborador.controls['complemento'].touched && dadosColaborador.controls['complemento'].invalid)"
        [mensagemErro]="'Esse campo deve possuir no máximo 80 caracteres'" formControlName="complemento"
        #inputBairro></app-custom-input>

    <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <button type="button" class="button botaoHabilitado" #botaoVoltarVisualizacao mat-button tabindex="15"
            (click)="retornaParaVisualizacao()">
            Voltar
        </button>
        <button type="button" class="button" tabindex="16" [disabled]="dadosColaboradorForm.valid ? false : true"
            [ngClass]="{'botaoHabilitado': dadosColaboradorForm.valid, 'botaoDesabilitado': !dadosColaboradorForm.valid}"
            mat-button matStepperNext #botaoProximoPrimeiraEtapa>Próximo</button>
    </div>
</form>