<app-menu></app-menu>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 container">
  <!-- INFORMATIVOS -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row informativo_container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_subcontainer">

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Quantidade de clientes cadastrados" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="face"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Cadastros
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              25K
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Cliente que gerou maior faturamento bruto" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="attach_money"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Maior giro
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Fulano
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Cliente com maior número de ordens cadastradas" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="star"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Mais ordens
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Ciclano
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Bairro com maior número de clientes cadastrados" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="flag"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Top bairro
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Lauzane
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <!-- INPUT DE BUSCAS -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_container" [ngClass]="{
      input_container_focado: focoInput,
      input_container_sem_foco: !focoInput
    }">

    <div class="row col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 input_subcontainer input_subcontainer_busca"
      (click)="input.select()">
      <mat-icon [ngClass]="{
        icone_focado: focoInput,
        icone_sem_foco: !focoInput
      }" (click)="input.select()" fontIcon="person_search"
        class="col-xl-1 col-lg-1 col-md-12 col-sm-1 col-1 icone icone_input"></mat-icon>
      <input class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12 input_filtro" atInput type="text"
        placeholder="Busca de clientes por nome, telefone ou cpf..." (focus)="focusFunction()"
        (focusout)="removeFocusFunction(input.value)" maxlength="40" #input />
    </div>

    <div class="row col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 input_subcontainer input_subcontainer_select">
      <select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_select">
        <option>
          Por nome
        </option>
        <option>
          Por cpf/cnpj
        </option>
        <option>
          Por telefone
        </option>
      </select>
    </div>

  </div>

  <!-- TABELA -->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table_container table-responsive-xl">
    <table class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table table-dark table-hover">

      <thead class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 thead">
        <tr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <th class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 th_nome">
            NOME
          </th>
          <th class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 th_cpfCnpj">
            CPF/CNPJ
          </th>
          <th class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 th_telefone">
            TELEFONE
          </th>
          <th class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 th_acoes">
            AÇÕES
          </th>
        </tr>
      </thead>

      <tbody class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div *ngFor="let cliente of clientes; let i = index"
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 linha_tabela">

          <tr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <td class="row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 td_nome">
              <mat-icon fontIcon="expand_more" class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 icone icone_expand"
                matTooltip="Mais informações" matTooltipPosition="left" id="{{ 'linha-' + i }}" data-toggle="collapse"
                [attr.href]="'#collapse-' + i"></mat-icon>
              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 nome_cliente">{{ cliente.nome }}</div>
            </td>

            <td class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 td_cpfCnpj">
              {{ cliente.cpfCnpj }}
            </td>

            <td class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 td_telefone">
              ({{ cliente.telefone.prefixo }}) {{ cliente.telefone.numero }}
            </td>

            <td class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 td_acoes">
              <mat-icon fontIcon="settings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 icone icone_tabela"
                matTooltip="Editar cliente" matTooltipPosition="above"></mat-icon>
              <mat-icon fontIcon="cancel"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 icone icone_tabela icone_tabela_remove"
                matTooltip="Remover cliente" matTooltipPosition="above"></mat-icon>
            </td>

          </tr>

          <!-- ACCORDION -->
          <div id="{{ 'collapse-' + i }}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 collapse collapsed"
            [attr.href]="'#linha-' + i" [attr.data-parent]="'#linha-' + i">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card-body accordion_container">

              <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_linha_principal">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Responsável pelo
                        cadastro:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">Gabriel Lagrota</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data do cadastro:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">10/03/2023 às 15:26</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">E-mail:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        gabriellagrota23@gmail.com</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data de nascimento:
                      </h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">21/07/1998</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Inscrição estadual:
                      </h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">125664080114</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Giro total:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">R$ 12.560,45 (16 Ordens)
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 accordion_bloco">
                  <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                      <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Endereço:</h3>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">Av. Coronel Manuel Py,
                        583 - Lauzane Paulista, São Paulo - SP, 02442-090</p>
                    </div>
                  </div>
                </div>

              </div>



            </div>
          </div>

        </div>

      </tbody>
    </table>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pagination_container">
      <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item"><a class="page-link">Anterior</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item active"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link">5</a></li>
        <li class="page-item"><a class="page-link">Próximo</a></li>
      </ul>
    </div>
  </div>
</div>