@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.container {
    width: 100%;
    padding: 0;
    font-family: $font-poppins;
}

hr {
    border: none;
    height: 1px;
    margin: 0 0 1.5rem 0;
    padding: 0;
    background-color: $dark-grey;
}

.input_container,
.input_filtro,
.input_subcontainer {
    margin: 0;
    padding: 0;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: $light-black;
    margin-bottom: 1.5rem;
}

.input_filtro {
    font-size: 0.90rem;
    border: none;
    padding: 0;
    color: $dark-white;
    background-color: $light-black;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.input_subcontainer_busca {
    height: 100%;
}

.input_container_focado {
    border: 1px solid $dark-grey;
}

.input_container_sem_foco {
    border: 1px solid $dark-grey;
}

.icone {
    color: $dark-white;
    padding: 0;
    cursor: pointer;
}

.icone_focado {
    color: $light-grey;
}

.icone_sem_foco {
    color: $light-grey;
}

.icone_input {
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.input_subcontainer_select {
    height: 100%;
}

.input_select {
    background: $primary-color-gradient;
    opacity: 0.80;
    color: $light-white;
    border: none;
    border-left: 1px solid $dark-grey;
    padding: 0 1rem;
    cursor: pointer;
}

option {
    background-color: $light-white;
    color: $dark-black;
}

.input_filtro:focus,
.input_select:focus {
    outline: none;
}

/* ================ CARDS ================ */

.informativo_container,
.informativo_subcontainer,
.informativo_card,
.informativo_conteudo,
.informativo_linha,
.informativo_texto,
.icone_container,
.informativo_icone,
.informativo_titulo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.informativo_container {
    margin: 1.5rem 0;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.informativo_subcontainer {
    justify-content: center;
}

.informativo_icone {
    background: $primary-color-gradient;
    border-radius: 10px;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: $light-white;
}

.informativo_titulo {
    @include font-size(1rem);
    padding-left: 0.5rem;
    color: $dark-white;
    font-family: $font-poppins;
}

.informativo_conteudo {
    padding: 0 0.5rem 0 0;
}

.informativo_linha_texto {
    margin-top: 0.4rem;
}

.informativo_texto {
    color: $light-white;
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0.4rem;
    font-family: $font-poppins;
}

.linha_final_colorida {
    border-bottom: 2px solid $primary-color;
}

.linha_final {
    border-bottom: 2px solid $dark-grey;
}

/* ================ TABELA ================ */

.table_container {
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.table {
    font-size: 0.85rem;
    margin-bottom: 0;
    background-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.thead {
    background-color: transparent;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
    display: flex;
}

.linha_tabela {
    margin: 0;
    padding: 0;
}

th {
    border: none !important;
    padding-bottom: 0.2rem;
    padding-top: 0;
}

td {
    padding-top: 0.6rem;
    padding-bottom: 0rem;
    cursor: pointer;
}

tbody {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0;
    border-top: none;
}

.icone_expand {
    color: $primary-color;
}

.td_nome {
    padding: 0.6rem 0.75rem 0 0.3rem;
    margin: 0;
}

.nome_cliente {
    padding: 0;
    padding-top: 0.1rem;
    margin: 0;
}

.td_acoes,
.th_acoes {
    text-align: center;
}

.td_acoes {
    padding: 0;
    padding-top: 0.45rem;
}

.icone_tabela {
    margin: 0 0.2rem;
}

.icone_tabela_remove {
    color: $red;
}

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0.5rem 0;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

/* TABLE PAGINATION */

.pagination_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
}

.pagination {
    margin: 0;
}

.page-item {
    color: $light-grey;
}

.page-link {
    background-color: $light-black;
    border: 1px solid $dark-grey;
    padding: 0.2rem 1rem !important;
}

.page-link:hover {
    background-color: #24262c;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px $primary-color !Important;
}