@import '../../../../dist/variables.scss';

.container {
    width: 100%;
    margin-top: 1rem;
    padding: 0;
}

.mat-form-field input {
    height: 20px;
    
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 0;
    padding: 0rem;
    border-radius: 3px;
    background-color: transparent;
    transition: height ease-in-out 400ms;
    margin-bottom: 1rem;
}

.input_filtro {
    font-size: 1rem;
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $dark-white;
    transition: height ease-in-out 400ms;
}

.input_container_focado {
    border: 1px solid $light-grey;
}

.input_container_sem_foco {
    border: 1px solid $dark-grey;
}

.icone {
    color: $dark-white;
    padding: 0;
    cursor: pointer;
}

.icone_focado {
    color: $light-grey;
}

.icone_sem_foco {
    color: $dark-grey;
}

.input_filtro:focus{
    outline: none;
}

/* ================ CARDS ================ */

.informativo_container, .informativo_subcontainer, .informativo_card, .informativo_conteudo, .informativo_linha, .informativo_texto, .icone_container, 
.informativo_icone, .informativo_titulo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.informativo_container {
    margin: 1rem 0;
}

.informativo_icone {
    background: $primary-color-gradient;
    border-radius: 10px;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: $light-white;
}

.informativo_titulo {
    font-size: 1rem;
    padding-left: 0.5rem;
    color: $dark-white;
}

.informativo_conteudo {
    padding: 0 0.5rem 0 0;
}

.informativo_linha_texto {
    margin-top: 0.5rem;
}

.informativo_texto {
    color: $light-white;
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0.5rem;
}

.linha_final_colorida {
    border-bottom: 2px solid $primary-color;
}

.linha_final{
    border-bottom: 2px solid $dark-grey;
}

/* ================ TABELA ================ */

.table_container {
    padding: 0;
}

.table {
    font-size: 0.75rem;
    margin-bottom: 0;
    background-color: transparent;
}

.thead {
    background-color: transparent;
}

th {
    border: none !important;
    padding-bottom: 0;
    padding-top: 0;
}

td {
    padding-top: 0.6rem;
    padding-bottom: 0rem;
    cursor: pointer;
}

tbody {
    background-color: $light-black;
    border: 1px solid $dark-grey;
}

.td_acoes, .th_acoes {
    text-align: center;
}

.td_acoes {
    padding-top: 0.45rem;
}

/* TABLE PAGINATION */

.pagination_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: none;
    height: 3rem;
    padding: 0;
}

.pagination {
    margin: 0;
}

.page-item {
    color: $light-grey;
}

.page-link {
    background-color: $light-black;
    border: 1px solid $dark-grey;
}

.pagination > .active > a
{
    color: $light-white;
    background-color: $primary-color !Important;
    border: solid 1px $primary-color !Important;
}