@import '../../../../dist/variables.scss';
@import "../../../../../node_modules/rfs/scss";

.input_container,
.input_filtro,
.input_subcontainer {
    margin: 0;
    padding: 0;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: $light-black;
    margin-bottom: 1.5rem;
    border: 1px solid $dark-grey;
}

.input_filtro {
    font-size: 0.90rem;
    border: none;
    padding: 0;
    color: $dark-white;
    background-color: $light-black;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.input_subcontainer_busca {
    height: 100%;
}


.icone {
    padding: 0;
    cursor: pointer;
    color: $light-grey;
}

.icone_input {
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.input_subcontainer_select {
    height: 100%;
}

.input_select {
    background: $primary-color-gradient;
    opacity: 0.80;
    color: $light-white;
    border: none;
    border-left: 1px solid $dark-grey;
    padding: 0 1rem;
    cursor: pointer;
}

option {
    background-color: $light-white;
    color: $dark-black;
}

.input_filtro:focus,
.input_select:focus {
    outline: none;
}

@media (max-width: 992px) {
    .input_subcontainer_busca {
        padding: 0 0.5rem;
    }
    .input_filtro {
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }
    .input_select {
        font-size: 0.9rem;
        text-align: center;
        padding: 0;
    }
    .icone {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .input_subcontainer_busca {
        padding: 0 0.5rem;
    }
    .input_filtro {
        font-size: 0.8rem;
        padding-left: 0.5rem;
    }
    .input_select {
        font-size: 0.8rem;
        text-align: center;
    }
    .icone {
        font-size: 1.4rem;
    }
}

@media (max-width: 576px) {
    .input_container {
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }
    .input_filtro {
        font-size: 0.8rem;
        padding-left: 0.5rem;
    }
    .input_subcontainer_select {
        display: none;
    }
    .icone {
        font-size: 1.3rem;
    }
}