<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_container" [ngClass]="{
    input_container_focado: focoInput,
    input_container_sem_foco: !focoInput
  }">

  <div class="row col-xl-10 col-lg-10 col-md-10 col-sm-9 col-12 input_subcontainer input_subcontainer_busca"
    (click)="input.select()">
    <mat-icon (click)="input.select()" fontIcon="person_search"
      class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 icone icone_input"></mat-icon>
    <input class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 input_filtro" atInput type="text"
      placeholder="Busca de clientes por nome, telefone ou cpf..." maxlength="40" #input />
  </div>

  <div class="row col-xl-2 col-lg-2 col-md-2 col-sm-3 col-2 input_subcontainer input_subcontainer_select">
    <select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_select">
      <option>
        Por nome
      </option>
      <option>
        Por cpf/cnpj
      </option>
      <option>
        Por telefone
      </option>
    </select>
  </div>

</div>