<div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <h1 class="titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ titulo }}
    </h1>

    <hr class="hr">


    <form #dadosAcessoForm="ngForm" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
        [formGroup]="dadosDespesa" (keyup.enter)="botaoProximo.click()" (keyup.escape)="botaoRetorno.click()">

        <app-title-container class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [titulo]="'Dados da despesa'"
            [descricao]="'Preenchimento dos dados da despesa'"></app-title-container>

        <!-- INPUT GROUP DESCRICAO -->
        <app-custom-input class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [id]="'inputDescricao'"
            [titulo]="'Descrição'" [tabIndex]="1" [maxLength]="50"
            [touched]="dadosDespesa.controls['descricao'].touched" [todosCaracteresMaiusculos]="true"
            [customIcon]="null" [disabledGroup]="dadosDespesa.controls['descricao'].disabled"
            [valido]="!(dadosDespesa.controls['descricao'].touched && dadosDespesa.controls['descricao'].invalid)"
            [mensagemErro]="'Campo obrigatório'" formControlName="descricao" #inputDescricao></app-custom-input>

        <!-- SELECT GROUP TIPO -->
        <app-custom-select class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" formControlName="tipoDespesa"
            [tabIndex]="2" [titulo]="'Tipo'" #selectTipo [options]="geraOptionsTipoDespesa()"></app-custom-select>

        <!-- SELECT GROUP STATUS -->
        <app-custom-select class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" formControlName="statusDespesa"
            [tabIndex]="3" [titulo]="'Status'" [options]="geraOptionsStatusDespesa()" #selectStatus
            (change)="alteraStatusDespesa()"></app-custom-select>

        <!-- INPUT GROUP VALOR -->
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group input_group_without_component">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
                <label class="label"
                    [ngClass]="{'label_invalida': dadosDespesa.controls['valor'].invalid  && dadosDespesa.controls['valor'].touched}">
                    Valor
                </label>
            </div>
            <div class="input_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <input type="number" formControlName="valor" name="valor" max="9999999.00" min="0.00" step=".01"
                    #inputValor (input)="realizaTratamentoValor($event)"
                    [ngClass]="{'input_invalida': dadosDespesa.controls['valor'].invalid && dadosDespesa.controls['valor'].touched}"
                    class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" tabindex="4">
                <mat-icon [@fadeInOut] [fontIcon]="'attach_money'" (click)="inputValor.focus()"
                    [ngClass]="{
                'icone_error': dadosDespesa.controls['valor'].invalid && dadosDespesa.controls['valor'].touched, 
                'icone_ok': dadosDespesa.controls['valor'].valid || dadosDespesa.controls['valor'].invalid && !dadosDespesa.controls['valor'].touched}" class="icone"></mat-icon>

            </div>

            <div [@fadeInOut] *ngIf="dadosDespesa.controls['valor'].invalid  && dadosDespesa.controls['valor'].touched"
                class="error_message_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="error_message">{{ 'Este campo deve possuir valor entre 0,00 e 9.999.000,00' }}</h6>
            </div>
        </div>

        <!-- DATE GROUP DATA DE AGENDAMENTO -->
        <app-custom-date-input *ngIf="getValueAtributoDadosDespesas('statusDespesa') == 'PENDENTE'"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [minDate]="getHoje()"
            [disabledGroup]="dadosDespesa.controls['dataAgendamento'].disabled" [id]="'dataAgendamento'"
            [valido]="!(dadosDespesa.controls['dataAgendamento'].touched && dadosDespesa.controls['dataAgendamento'].invalid)"
            [mensagemErro]="'Data de agendamento inválida'" [titulo]="'Data de agendamento'" [tabIndex]="5"
            formControlName="dataAgendamento"
            [vazio]="getValueAtributoDadosDespesas('dataAgendamento') == '' || getValueAtributoDadosDespesas('dataAgendamento') == null"
            #inputDataAgendamento></app-custom-date-input>

        <!-- DATE GROUP DATA DE PAGAMENTO -->
        <app-custom-date-input *ngIf="getValueAtributoDadosDespesas('statusDespesa') == 'PAGO'"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [minDate]="'1900-01-01'" [maxDate]="getHoje()"
            [disabledGroup]="dadosDespesa.controls['dataPagamento'].disabled" [id]="'dataPagamento'"
            [valido]="!(dadosDespesa.controls['dataPagamento'].touched && dadosDespesa.controls['dataPagamento'].invalid)"
            [mensagemErro]="'Data de pagamento inválida'" [titulo]="'Data de pagamento'" [tabIndex]="5"
            formControlName="dataPagamento"
            [vazio]="getValueAtributoDadosDespesas('dataPagamento') == '' || getValueAtributoDadosDespesas('dataPagamento') == null"
            #inputDataPagamento></app-custom-date-input>

        <!-- SELECT GROUP RECORRENCIAS -->
        <app-custom-select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" formControlName="qtdRecorrencias"
            [tabIndex]="6" [titulo]="'Recorrência'" #selectQtdRecorrencias
            [options]="geraOptionsQtdRecorrencia()"></app-custom-select>


        <!-- BOTÕES DE NAVEGAÇÃO -->
        <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button type="button" class="button botaoHabilitado" #botaoRetorno mat-button tabindex="7"
                (click)="retornaParaTelaAnterior()">
                Voltar
            </button>
            <button type="button" (keyup.enter)="null" (click)="solicitarEnvioDeFormulario()" mat-button matStepperNext
                #botaoProximo tabindex="8" class="button botaoHabilitado">Enviar</button>
        </div>

    </form>

</div>