.container {
    width: 100%;
    margin-bottom: 0.5rem;
}

.titulo {
    display: flex;
    justify-content: left;
    color: #C3C8C8;
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: right;
}

.icone {
    color: #C3C8C8;
    margin-left: 5px;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #333;
}