@import '../../../../dist/variables.scss';

.container, .titulo_container, .botoes_container, .titulo, .botoes {
    margin: 0;
    padding: 0;
    font-family: $font-poppins;
}

.container {
    width: 100%;
    margin-bottom: 0.5rem;
}

.titulo_container {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.titulo {
    display: flex;
    justify-content: left;
    color: $dark-white;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 0.2rem;
}

.icone {
    color: $dark-white;
    margin-left: 5px;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: $dark-grey;
}