<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 row container">

  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 titulo_container">
    <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo">Clientes cadastrados</h1>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 botoes_container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botoes">
      <mat-icon routerLink="['novo']" fontIcon="add_circle" class="icone icone_novo" matTooltip="Adicionar novo cliente"
        matTooltipPosition="below"></mat-icon>
      <mat-icon fontIcon="restart_alt" class="icone" matTooltip="Resetar filtros de busca"
        matTooltipPosition="below"></mat-icon>
      <mat-icon fontIcon="download" class="icone" matTooltip="Gerar relatório em PDF"
        matTooltipPosition="below"></mat-icon>
    </div>

  </div>

</div>

<hr>