<div *ngIf="historicoAcoes?.content?.length > 0, else conteudoVazio"
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="block block_titulo_itens row col-xl-12 col-lg-12 col-md-l2 col-sm-12 col-12">
        <div class="block_titulo_itens_titulo">
            {{ historicoAcoes?.totalElements > 1
            ? historicoAcoes?.totalElements + ' Alterações realizadas'
            : historicoAcoes?.totalElements + ' Alteração realizada' }}
        </div>
    </div>

    <div class="block block_itens row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div *ngFor="let acao of historicoAcoes?.content"
            class="item_container row col-xl-12 col-lg-12 col-md-l2 col-sm-12 col-12"
            matTooltip="Ação realizada dia {{ acao.dataCriacao | date: 'dd/MM/yyyy' }} às {{ acao.horaCriacao | slice:0:5 }}"
            matTooltipPosition="left">
            <div class="row item_text item_text_titulo" (click)="expandeAcao(acao)">
                {{ tituloAcao(acao) }}
            </div>

            <div class="row item_details">
                <div class="item_details_status" [class]="acao.tipoAcaoEnum">
                    {{ converteTextoTipoAcao(acao) }}
                </div>

                <mat-icon [fontIcon]="acao.expandido ? 'expand_more' : 'chevron_left'" (click)="expandeAcao(acao)"
                    class="icone icone_opc" [ngClass]="{'disabled_icon': acao.observacao == null}"></mat-icon>
            </div>

            <div [@slideUpDown] class="item_container_conteudo row col-xl-12 col-lg-12 col-md-l2 col-sm-12 col-12"
                *ngIf="acao.expandido">
                <div class="row item_text">
                    {{ acao.observacao }}
                </div>
            </div>
        </div>

        <ul *ngIf="historicoAcoes?.totalPages > 1" class="pagination pagination-sm justify-content-end">
            <li (click)="voltarPagina()" [ngClass]="{'disabled': historicoAcoes.pageNumber == 0}" class="page-item">
                <a class="page-link">{{ geraBotaoVoltarPaginacao() }}</a>
            </li>
            <ng-container
                *ngFor="let numero of GeraNumerosParaNavegarNaPaginacao(historicoAcoes.totalPages); let i = index">
                <li *ngIf="(historicoAcoes.pageNumber - i) <= 3 && (historicoAcoes.pageNumber - i) >= 0
                || (i - historicoAcoes.pageNumber) <= 3 && (i - historicoAcoes.pageNumber) >= 0
                || historicoAcoes.pageNumber == 0 && (i - historicoAcoes.pageNumber) <= 6 && (i - historicoAcoes.pageNumber) >= 0
                || historicoAcoes.pageNumber == 1 && (i - historicoAcoes.pageNumber) <= 5 && (i - historicoAcoes.pageNumber) >= 0
                || historicoAcoes.pageNumber == 2 && (i - historicoAcoes.pageNumber) <= 4 && (i - historicoAcoes.pageNumber) >= 0
                || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-1)) && (historicoAcoes.pageNumber - i) <= 6
                || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-2)) && (historicoAcoes.pageNumber - i) <= 5
                || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-3)) && (historicoAcoes.pageNumber - i) <= 4"
                    (click)="selecionarPagina(i)" [ngClass]="{'active': historicoAcoes.pageNumber == i}"
                    class="page-item">
                    <a class="page-link">{{ i+1 }}</a>
                </li>
            </ng-container>
            <li (click)="avancarPagina()"
                [ngClass]="{'disabled': historicoAcoes.pageNumber == historicoAcoes.totalPages-1}" class="page-item"><a
                    class="page-link">{{ geraBotaoAvancarPaginacao() }}</a></li>
        </ul>

    </div>
</div>
<ng-template #conteudoVazio class="container_vazio col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="block_vazio col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Não há nenhum item por aqui
    </div>
</ng-template>