@import '../../../../../../../dist/variables.scss';
@import "../../../../../../../../node_modules/rfs/scss";

.hr,
.titulo_sessao_container,
.titulo_sessao,
.hr_container {
    margin: 0;
    padding: 0;
}

.hr {
    background-color: $dark-grey;
    margin: 1rem 0;
}

.titulo_sessao_container {
    padding: 0 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.titulo_sessao {
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $dark-white;
    border: 2px solid $primary-color-darker;
    background-color: $primary-color;
    border-radius: 0;
    opacity: 0.96;
    font-family: $font-poppins;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hr_container {
    padding: 0 1rem;
    margin: 0 auto;
}

.hr {
    width: 100%;
    margin: 0.8rem 0;
}

@media (max-width: 960px) {}

@media (max-width: 768px) {}

@media (max-width: 550px) {}

@media (max-width: 450px) {}