<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_container">

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_linha_principal">

        <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao">Dados pessoais</h2>

        <div class="row block col-xl-11">

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Nome completo:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ colaborador.nome | titlecase }}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data do cadastro:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ colaborador.dataCadastro | date: 'dd/MM/yyyy' }} às {{ colaborador.horaCadastro | slice:0:5}}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data de nascimento:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (colaborador.dataNascimento != null && colaborador.dataNascimento != '')
                        ? (colaborador.dataNascimento | date: 'dd/MM/yyyy')
                        : '-'}}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">E-mail:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (colaborador.email != null && colaborador.email != '')
                        ? (colaborador.email)
                        : '-'}}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Telefone:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ colaborador.telefone != null ? '(' + colaborador.telefone.prefixo + ') ' +
                        colaborador.telefone.numero : '-'}}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Matrícula:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ colaborador.matricula }}
                    </p>
                </div>
            </div>

            <div class="row col-xl-3 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">CPF:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ colaborador.cpfCnpj != null ? colaborador.cpfCnpj : '-' }}
                    </p>
                </div>
            </div>

            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Endereço:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ trataEnderecoTabela(colaborador.endereco) }}
                    </p>
                </div>
            </div>

        </div>

    </div>

    <hr class="hr first_hr">

    <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 titulo_sessao titulo_sessao_inferior">Dados profissionais</h2>

    <div class="row block col-xl-12">

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Permanência empresa:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.entradaEmpresa != null ? (colaborador.entradaEmpresa | date: 'dd/MM/yyyy') : '-' }} -
                    {{ colaborador.entradaEmpresa != null && colaborador.saidaEmpresa == null ? 'Atualmente' : (colaborador.saidaEmpresa | date: 'dd/MM/yyyy') }}
                </p>
            </div>
        </div>

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Modelo de contratação:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.modeloContratacaoEnum != null ? (colaborador.modeloContratacaoEnum | uppercase) : '-'
                    }}
                </p>
            </div>
        </div>

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Modelo de trabalho:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ (colaborador.modeloTrabalhoEnum == 'HOME_OFFICE' ? 'Remoto' : colaborador.modeloTrabalhoEnum) | titlecase }}
                </p>
            </div>
        </div>

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Salário:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.salario != null ? (colaborador.salario | currency : 'BRL') : '-' }}
                </p>
            </div>
        </div>

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Atuação:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.tipoOcupacaoEnum != null ? (colaborador.tipoOcupacaoEnum | uppercase) : '-' }}
                </p>
            </div>
        </div>

        <div class="row col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Acesso ao sistema:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.acessoSistema != null
                    ? (colaborador.acessoSistema.acessoSistemaAtivo ? 'ATIVO' : 'INATIVO')
                    : '-' }}
                </p>
            </div>
        </div>

        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Expediente:</h3>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                    {{ colaborador.expediente != null ? criaExibicaoExpediente(colaborador.expediente) : '-' }}
                </p>
            </div>
        </div>

    </div>

</div>