@import '../../../../../dist/variables.scss';
@import "../../../../../../node_modules/rfs/scss";

.container,
.titulo,
.hr,
.form,
.input_group,
.input_container,
.label_container,
.label,
.asterisco,
.input,
.error_message_container,
.error_message {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $light-black;
    padding: 2rem 2rem;
    margin: 1rem 0;
}

.titulo {
    font-family: $font-poppins;
    color: $dark-white;
    font-weight: 600;
    font-size: 1.3rem;
}

.hr {
    background-color: $dark-grey;
    margin: 1rem 0;
}

mat-horizontal-stepper,
mat-step {
    background-color: transparent;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0 0.5rem !important;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 2px !important;
    border-top-color: $dark-grey;
}

.fa {
    font-size: 1rem;
    color: $light-black;
}

::ng-deep.mat-step-header .mat-step-icon {
    background-color: $primary-color !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
    background-color: $primary-color !important;
    color: $primary-color;
}

::ng-deep.mat-step-header .mat-step-icon-selected .mat-step-icon-content i {
    animation: pulse 1.2s infinite;
}

::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: $primary-color !important;
}

::ng-deep .mat-step-header .mat-step-label {
    padding-top: 0.2rem;
}

span {
    color: $dark-grey !important;
    font-weight: 500;
    font-size: 1rem;
    font-family: $font-roboto;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active .mat-step-text-label span {
    color: $primary-color !important;
    font-weight: 600;
}

.form_telefone {
    margin-top: 0.5rem;
}

.input_group {
    padding: 0rem 1rem 1.5rem 1rem;
}

.label {
    color: $dark-white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $font-roboto;
    margin-bottom: 0.3rem;
    letter-spacing: 0;
}

.error_message {
    color: $strong-red;
    font-weight: 400;
    font-size: 0.6rem;
    position: absolute;
    right: 0;
}

.input {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    padding-right: 2rem;
}

option,
select,
input {
    background: $dark-black !important;
    color: $primary-color !important;
    border: 1px solid $dark-grey !important;
    font-family: $font-poppins !important;
}

option:focus,
select:focus,
input:focus {
    border: 1px solid $primary-color !important;
    outline: none;
}

.icone {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0.5rem;
    color: $dark-white;
}

.icone_ok {
    color: $primary-color;
}

.icone_error {
    color: $strong-red;
}

.label_invalida {
    color: $strong-red;
}

.label_desabilitada {
    color: $dark-grey;
}

.input_invalida {
    border: 1px solid $strong-red;
    color: $strong-red;
}

.input_data {
    -ms-user-select: none;
    user-select: none;
}

.input_cidade::-webkit-calendar-picker-indicator {
    display: none !important;
}

::ng-deep .mat-datepicker-content {
    background-color: $light-black !important;
}

::ng-deep .mat-calendar-body-label,
::ng-deep .mat-calendar-table-header tr th,
::ng-deep .mdc-button__label span {
    color: $primary-color !important;
    font-weight: 500 !important;
}

::ng-deep .mat-calendar-arrow {
    fill: $primary-color !important;
}

::ng-deep .mat-calendar-body-cell {
    outline: none !important;
    --mat-mdc-button-ripple-color: transparent !important;
    --mat-mdc-button-persistent-ripple-color: transparent !important;
}

::ng-deep .mat-calendar-body-cell-content {
    color: $light-grey !important;
}

::ng-deep .mat-calendar-body-disabled .mat-calendar-body-cell-content {
    color: $dark-grey !important;
}

::ng-deep .icone_data .mat-mdc-icon-button .mat-mdc-button-base {
    padding: 0 !important;
}

.icone_data {
    position: absolute;
    right: 0rem;
    top: -0.1rem;
    padding: 0;
}

::ng-deep .icone_data  .mat-mdc-icon-button {
    color: $primary-color !important;
    --mat-mdc-button-ripple-color: transparent !important;
    --mat-mdc-button-persistent-ripple-color: transparent !important;
}

::ng-deep .icone_data  .mat-mdc-icon-button:focus {
    outline: none !important;
    --mat-mdc-button-ripple-color: transparent !important;
    --mat-mdc-button-persistent-ripple-color: transparent !important;
}

::ng-deep .icone_data  .mat-mdc-icon-button:hover {
    background-color: transparent !important;
    --mat-mdc-button-ripple-color: transparent !important;
    --mat-mdc-button-persistent-ripple-color: transparent !important;
}

.button_container {
    display: flex;
    justify-content: right;
}

.button {
    background-color: transparent;
    font-family: $font-poppins;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 1rem;
}

.botaoHabilitado:hover,
.botaoHabilitado:focus {
    border: 1px solid $primary-color;
    color: $light-black;
    background-color: $primary-color;
    transition: 0.5s;
}

.botaoHabilitado {
    border: 1px solid $primary-color;
    color: $primary-color;
    cursor: pointer;
}

.botaoDesabilitado {
    border: 1px solid $light-grey;
    color: $light-grey;
    cursor: auto;
}

.botaoHabilitado:focus,
.botaoDesabilitado:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 960px) {

    .hr {
        margin-bottom: 0;
    }

    .label {
        font-size: 1.1rem;
    }

    .input {
        font-size: 1rem;
    }

    .button {
        padding: 0.4rem 2.5rem;
    }

}

@media (max-width: 768px) {

    .container {
        padding: 1.5rem 1.5rem;
    }

    .titulo {
        font-size: 1.1rem;
    }

    .hr {
        margin: 1rem 0;
        margin-bottom: 0;
    }

    .label {
        font-size: 1rem;
    }

    .input {
        font-size: 0.9rem;
    }

    .input_group {
        padding: 0rem 0rem 1.5rem 0rem;
    }

    .button_container {
        padding: 0;
    }

    .button {
        padding: 0.4rem 2rem;
    }

}

@media (max-width: 550px) {

    .container {
        padding: 1rem;
    }

    .titulo {
        font-size: 1.1rem;
    }

    .hr {
        margin: 0.9rem 0;
        margin-bottom: 0;
    }

    .label {
        font-size: 1rem;
    }

    .input {
        font-size: 0.9rem;
    }

    .input_group {
        padding: 0rem 0rem 1.5rem 0rem;
    }

    .button_container {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .button {
        padding: 0.3rem 1.7rem;
    }

    ::ng-deep .mat-step-icon {
        margin: 0 !important;
    }

    ::ng-deep .mat-step-label {
        display: none !important;
    }

    ::ng-deep .mat-horizontal-stepper-header {
        padding: 0 0.5rem !important;
    }
}

@media (max-width: 450px) {

    .container {
        padding: 1rem;
    }

    .titulo {
        font-size: 1.1rem;
    }

    .hr {
        margin: 0.8rem 0;
        margin-bottom: 0;
    }

    .label {
        font-size: 0.9rem;
    }

    .input {
        font-size: 0.8rem;
        padding: 0.5rem;
        padding-right: 2rem;
    }

    .input_group {
        padding: 0rem 0rem 1.5rem 0rem;
    }

    .button_container {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .button {
        padding: 0.3rem 1.5rem;
    }

    ::ng-deep .mat-step-icon {
        margin: 0 !important;
    }

    ::ng-deep .mat-step-label {
        display: none !important;
    }

    ::ng-deep .mat-horizontal-stepper-header {
        padding: 0 0.5rem !important;
    }
}

@keyframes pulse{

    0%{
        transform: scale(0.90);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.90);
    }

}
