@import '../../../../../../../dist/variables.scss';
@import "../../../../../../../../node_modules/rfs/scss";

.input_group,
.input_container,
.label_container,
.label,
.input,
app-custom-error {
    margin: 0;
    padding: 0;
}

.input_group,
.input_container,
.label_container,
.input,
app-custom-error {
    width: 100%;
}

.input_group {
    padding: 0rem 1rem 1.5rem 1rem;
}

.label {
    color: $dark-white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $font-roboto;
    margin-bottom: 0.3rem;
    letter-spacing: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input {
    padding: 0.5rem 1rem;
    padding-right: 2rem;
}

.input::-webkit-calendar-picker-indicator {
    display: none !important;
}

input[type=text],
input[type=password] {
    height: 100%;
}

input {
    background: $dark-black !important;
    color: $primary-color !important;
    border: 1px solid $dark-grey !important;
    font-family: $font-poppins !important;
    font-size: 1rem;
    font-weight: 400;
}

input:focus {
    border: 1px solid $primary-color !important;
    outline: none;
}

.icone {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1.5rem;
    color: $dark-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.icone_ok {
    color: $primary-color;
}

.icone_error {
    color: $strong-red;
}

.label_invalida {
    color: $strong-red;
}

.label_desabilitada {
    color: $dark-grey;
}

.input_invalida {
    border: 1px solid $strong-red !important;
    color: $strong-red !important;
}

.input_desabilitada {
    color: $primary-color-disabled !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 960px) {}

@media (max-width: 768px) {}

@media (max-width: 550px) {}

@media (max-width: 450px) {}