<form #dadosTelefoneForm="ngForm" class="row form form_telefone col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    [formGroup]="dadosTelefone" (keyup.enter)="botaoProximo.click()" (keyup.escape)="botaoRetorno.click()">

    <!-- SELECT GROUP TIPO DO TELEFONE -->
    <app-custom-select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" formControlName="tipoTelefone"
        [tabIndex]="10" [titulo]="'Tipo do telefone'" (change)="atualizaValidatorsTelefone()" #SelectTipoTelefone
        [options]="geraOptionsTipoTelefone()"></app-custom-select>

    <!-- INPUT GROUP PREFIXO -->
    <app-custom-input class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12" [id]="'prefixo'" [titulo]="'Prefixo'"
        [tabIndex]="11" [maxLength]="2" [touched]="dadosTelefone.controls['prefixo'].touched"
        [todosCaracteresMaiusculos]="false" customIcon="null"
        [disabledGroup]="dadosTelefone.controls['prefixo'].disabled"
        [valido]="!(dadosTelefone.controls['prefixo'].invalid)" [mensagemErro]="'Mínimo de 2 caracteres numéricos'"
        formControlName="prefixo" #inputPrefixo></app-custom-input>

    <!-- INPUT GROUP NÚMERO -->
    <app-custom-input class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12" [id]="'numero'" [titulo]="'Número'"
        [tabIndex]="12" [maxLength]="inputLengthTelefone" [touched]="dadosTelefone.controls['numero'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="'call'" (input)="realizaTratamentoNumeroTelefone()"
        [disabledGroup]="dadosTelefone.controls['numero'].disabled"
        [valido]="!(dadosTelefone.controls['numero'].invalid)"
        [mensagemErro]="'Mínimo de ' + inputLengthTelefone + ' caracteres numéricos'" formControlName="numero"
        #inputNumeroTelefone></app-custom-input>

    <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <button class="button" type="button" #botaoRetorno mat-button matStepperPrevious tabindex="13">
            Voltar
        </button>
        <button class="button" mat-button #botaoProximo type="button" tabindex="14" (click)="avancaProximaEtapa()"
            matStepperNext>
            Próximo
        </button>
    </div>
</form>