@import '../../../../../../../dist/variables.scss';
@import "../../../../../../../../node_modules/rfs/scss";

/* TABLE ACCORDION */

.accordion_container,
.accordion_linha_principal,
.accordion_bloco,
.accordion_subbloco,
.accordion_subbloco_titulo,
.accordion_subbloco_texto,
.accordion_titulo,
.accordion_texto {
    margin: 0;
    padding: 0;
}

.accordion_container {
    padding: 0;
    padding-bottom: 0.5rem;
}

.accordion_subbloco {
    padding: 0.2rem;
}

.accordion_titulo {
    font-size: 0.80rem;
    font-weight: 500;
    height: 1.2rem;
    color: $light-white;
}

.accordion_texto {
    font-size: 0.70rem;
    color: $dark-white;
}

@media (max-width: 1200px) {
    .accordion_container {
        padding: 0;
        padding-bottom: 0.3rem;
    }

    .accordion_subbloco {
        padding: 0 0.5rem;
    }

    .accordion_titulo {
        font-size: 0.8rem;
    }

    .accordion_texto {
        font-size: 0.7rem;
    }
}

@media (max-width: 992px) {
    .accordion_container {
        padding-bottom: 0.3rem;
    }

    .accordion_titulo {
        font-size: 0.7rem;
    }

    .accordion_texto {
        font-size: 0.6rem;
    }
}