<div class="dados_titulo_container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
(click)="dadosProfissionais = !dadosProfissionais">
<div class="dados_pessoais_titulo">Dados profissionais</div>
<mat-icon [fontIcon]="dadosProfissionais ? 'expand_more' : 'chevron_left'"
    class="icone icone_titulo"></mat-icon>
</div>

<div *ngIf="dadosProfissionais" [@slideUpDown]
class="container_dados container_dados_pessoais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Matrícula
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.matricula }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Setor
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ realizaTratamentoTipoOcupacao(colaborador?.tipoOcupacaoEnum) }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Cargo
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.ocupacao
        ? (colaborador?.ocupacao | titlecase)
        : 'Não definido' }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Modelo de contratação
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.modeloContratacaoEnum
        ? realizaTratamentoModeloContratacao(colaborador?.modeloContratacaoEnum)
        : 'Não definido' }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Modelo de trabalho
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ realizaTratamentoModeloTrabalho(colaborador?.modeloTrabalhoEnum) }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Remuneração
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.salario ? colaborador?.salario : 'Não definido' }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Data de início
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.entradaEmpresa
        ? (colaborador?.entradaEmpresa | date: 'dd/MM/yyyy')
        : 'Não definido'
        }}
    </div>
</div>

<div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Data de saída
    </div>
    <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {{ colaborador?.saidaEmpresa
        ? (colaborador?.saidaEmpresa | date: 'dd/MM/yyyy')
        : 'Não definido'
        }}
    </div>
</div>

</div>