<form #dadosAcessoForm="ngForm" class="row form col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
    [formGroup]="dadosAcesso" (keyup.enter)="submitFormulario.click()" (keyup.escape)="botaoRetorno.click()">

    <app-custom-title-container class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" [titulo]="'Acesso'"
        [descricao]="'Preenchimento dos dados de acesso ao sistema'"
        (click)="selectAcessoSistemaAtivo.acionaFoco()"></app-custom-title-container>

    <!-- SELECT GROUP ACESSO ATIVO -->
    <app-custom-select class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" formControlName="acessoSistemaAtivo"
        [tabIndex]="1" [titulo]="'Acesso ao sistema'" (change)="atualizaLiberacaoSistema()"
        [disabledGroup]="dadosAcesso.get('acessoSistemaAtivo').disabled" #selectAcessoSistemaAtivo
        [options]="geraOptionsAcessoSistemaAtivo()"></app-custom-select>

    <!-- INPUT GROUP SENHA -->
    <app-custom-input class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" [id]="'senha'" [titulo]="'Senha'"
        [tabIndex]="2" [maxLength]="30" [touched]="dadosAcesso.controls['senha'].touched"
        [todosCaracteresMaiusculos]="false" [customIcon]="'lock'"
        [disabledGroup]="dadosAcesso.controls['senha'].disabled"
        [valido]="!(dadosAcesso.controls['senha'].touched && dadosAcesso.controls['senha'].invalid)"
        [mensagemErro]="'Obrigatório no mínimo 6 caracteres'" formControlName="senha"
        #inputBairro></app-custom-input>

    <!-- SELECT GROUP PERMISSÕES -->
    <app-custom-select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" formControlName="permissaoEnum"
        [tabIndex]="3" [titulo]="'Permissões'" [disabledGroup]="dadosAcesso.get('permissaoEnum').disabled"
        #selectAcessoSistemaAtivo [options]="geraOptionsPermissoes()"></app-custom-select>

    <!-- MÓDULOS LIBERADOS -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group input_group_without_component"
        [ngClass]="{'input_group_modulo': modulosLiberados.length > 0}">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 label_container">
            <label class="label"
                [ngClass]="{'label_desabilitada': dadosAcesso.controls['acessoSistemaAtivo'].value == false}">
                Módulos liberados
            </label>
        </div>
        <select tabindex="4" (change)="(privilegioAtual = selectPrivilegios.value)" [value]="privilegioAtual"
            #selectPrivilegios [disabled]="!getValueAtributoDadosAcesso('acessoSistemaAtivo') ? true : false"
            class="input col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <option value="HOME" [disabled]="modulosLiberados.includes(opcInicio.value) ? true : false" #opcInicio>
                Início</option>
            <option value="CLIENTES" [disabled]="modulosLiberados.includes(opcClientes.value) ? true : false"
                #opcClientes>
                Clientes</option>
            <option value="VENDAS" [disabled]="modulosLiberados.includes(opcVendas.value) ? true : false" #opcVendas>
                Vendas</option>
            <option value="PDV" [disabled]="modulosLiberados.includes(opcPdv.value) ? true : false" #opcPdv>
                Ponto de venda</option>
            <option value="ESTOQUE" [disabled]="modulosLiberados.includes(opcEstoque.value) ? true : false" #opcEstoque>
                Estoque</option>
            <option value="DESPESAS" [disabled]="modulosLiberados.includes(opcDespesas.value) ? true : false"
                #opcDespesas>
                Despesas</option>
            <option value="FECHAMENTOS" [disabled]="modulosLiberados.includes(opcFechamentos.value) ? true : false"
                #opcFechamentos>
                Fechamentos</option>
            <option value="PATRIMONIOS" [disabled]="modulosLiberados.includes(opcPatrimonios.value) ? true : false"
                #opcPatrimonios>
                Patrimonios</option>
            <option value="FORNECEDORES" [disabled]="modulosLiberados.includes(opcFornecedores.value) ? true : false"
                #opcFornecedores>
                Fornecedores</option>
            <option value="COMPRAS" [disabled]="modulosLiberados.includes(opcCompras.value) ? true : false" #opcCompras>
                Compras</option>
            <option value="COLABORADORES" [disabled]="modulosLiberados.includes(opcColaboradores.value) ? true : false"
                #opcColaboradores>
                Colaboradores</option>
            <option value="PRECOS" [disabled]="modulosLiberados.includes(opcPrecos.value) ? true : false" #opcPrecos>
                Preços</option>
        </select>

        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 input_group input_group_bt">
            <button [ngClass]="{'botaoDesabilitado': 
            selectPrivilegios.value == '' 
            || selectPrivilegios.value == null 
            || dadosAcesso.controls['acessoSistemaAtivo'].value == false}" [disabled]="
            selectPrivilegios.value == '' 
            || selectPrivilegios.value == null 
            || dadosAcesso.controls['acessoSistemaAtivo'].value == false ? true : false" type="button"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 botao"
                (click)="adicionaModulo(selectPrivilegios.value); selectPrivilegios.focus()"
                tabindex="5">Adicionar</button>
        </div>
    </div>

    <!-- CHIPS DE SETORES LIBERADOS -->
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 chips_container">
        <div *ngFor="let moduloLiberado of modulosLiberados" class="row chips_block">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 chip mat-elevation-z2"
                (click)="removeModulo(moduloLiberado)">
                {{ moduloLiberado | titlecase }}
            </div>
        </div>
    </div>

    <!-- BOTÕES DE NAVEGAÇÃO -->
    <div class="button_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <button type="button" class="button botaoHabilitado" #botaoRetorno mat-button tabindex="6" matStepperPrevious>
            Voltar
        </button>
        <button type="button" (click)="solicitarEnvioDeFormulario()" tabindex="7" class="button botaoHabilitado"
            #submitFormulario mat-button>Enviar</button>
    </div>

</form>