<div class="row thead_info_icon_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

    <div class="row bt_header_upper_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <div *ngIf="pageableInfo != null" class="bt_header_container page_size_container">
            <select [(ngModel)]="pageableInfo.pageSize" *ngIf="verificaSeConteudoMaiorQueZero()"
                class="bt_header bt_header_select col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                (change)="alteraQuantidadeItensExibidosPorPagina(select)" #select>
                <option value="5" class="bt_header_option">5</option>
                <option value="10" class="bt_header_option" [disabled]="pageableInfo.totalElements > 5 ? false : true">
                    10
                </option>
                <option value="20" class="bt_header_option" [disabled]="pageableInfo.totalElements > 10 ? false : true">
                    20
                </option>
                <option value="50" class="bt_header_option" [disabled]="pageableInfo.totalElements > 20 ? false : true">
                    50
                </option>
            </select>
        </div>

        <div class="bt_header_container">
            <div class="row bt_header bt_header_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                [ngClass]="{ 'btHeaderComPaddingAjustado': (pageableInfo == null || pageableInfo.content.length == 0) }"
                matTooltip='Adicionar novo item' matTooltipPosition="above" routerLink="/colaboradores/novo">
                <h5 class="text_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <i class="bi bi-file-earmark-plus-fill header_icon"></i>
                </h5>
            </div>
        </div>

        <div *ngIf="pageableInfo != null" class="bt_header_container">
            <div class="row bt_header bt_header_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                [ngClass]="{ 'matBadgeInactive': pageableInfo == null }" (click)="geraRelatorio()"
                [matBadge]="colaboradoresSelecionadosNaTabela.length > 0 ? colaboradoresSelecionadosNaTabela.length : null"
                [matTooltip]="colaboradoresSelecionadosNaTabela.length > 0 ? 'Gerar relatório em PDF' : 'Gerar relatório geral em PDF'"
                matBadgePosition="after" matBadgeSize="medium" matBadgeColor="accent" matTooltipPosition="above">
                <h5 class="text_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <i class="bi bi-file-pdf-fill header_icon"></i>
                </h5>
            </div>
        </div>

        <div *ngIf="pageableInfo != null" class="bt_header_container">
            <div class="row bt_header bt_header_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                [ngClass]="{'matBadgeInactive': colaboradoresSelecionadosNaTabela.length == 0}"
                [matBadge]="colaboradoresSelecionadosNaTabela.length > 0 ? colaboradoresSelecionadosNaTabela.length : null"
                [matTooltip]="colaboradoresSelecionadosNaTabela.length > 0 ? 'Remover itens' : null" matBadgePosition="after"
                matBadgeSize="medium" matBadgeColor="accent" matTooltipPosition="above"
                (click)="excluiColaboradoresEmMassa()">
                <h5 class="text_novo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <i class="bi bi-file-earmark-x-fill header_icon"></i>
                </h5>
            </div>
        </div>

    </div>

    <div *ngIf="pageableInfo != null" class="input_filtro_container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="sub_container input_filtro_subcontainer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="input_block col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="input_icon">
                    <mat-icon fontIcon="search" class="icone icone_filtro"></mat-icon>
                </div>
                <input class="input_busca" type="search" placeholder="Busca por nome, e-mail, cpf, etc..."
                    autocomplete="off" spellcheck="false" (input)="emiteFormControl()" [formControl]="buscaColaboradores" />
            </div>
        </div>
    </div>

    <h5 *ngIf="verificaSeConteudoMaiorQueZero()"
        class="quantidade_exibida col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        Página {{ pageableInfo.pageNumber+1 }} de {{ pageableInfo.totalPages }} | {{ pageableInfo.totalElements }}
        Colaboradores encontrados
    </h5>
</div>