<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card-body accordion_container">

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_linha_principal">

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Responsável pelo
                        cadastro:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.nomeColaboradorResponsavel | titlecase }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data do cadastro:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.dataCadastro | date: 'dd/MM/yyyy' }} às {{ cliente.horaCadastro | slice:0:5}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">E-mail:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (cliente.email != null && cliente.email != '')
                        ? (cliente.email)
                        : '-'}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Data de nascimento:
                    </h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ (cliente.dataNascimento != null && cliente.dataNascimento != '')
                        ? (cliente.dataNascimento | date: 'dd/MM/yyyy')
                        : '-'}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Inscrição estadual:
                    </h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.inscricaoEstadual != null ? cliente.inscricaoEstadual : '-' }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Giro total:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p *ngIf="cliente.giroTotal > 0; else ClienteSemGiro"
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ cliente.giroTotal | currency : 'BRL' }}
                        {{ cliente.qtdOrdensRealizadas == 1
                        ? '(' + cliente.qtdOrdensRealizadas + ' Ordem)'
                        : '(' + cliente.qtdOrdensRealizadas + ' Ordens)' }}
                    </p>
                    <ng-template #ClienteSemGiro>
                        <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                            {{ cliente.giroTotal | currency : 'BRL' }}
                        </p>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_bloco">
            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_titulo">
                    <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_titulo">Endereço:</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_subbloco_texto">
                    <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 accordion_texto">
                        {{ trataEnderecoTabela(cliente.endereco) }}
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>