<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row informativo_container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_subcontainer">

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Quantidade de clientes cadastrados" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="face"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Cadastros
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              25K
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Cliente que gerou maior faturamento bruto" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="attach_money"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Maior giro
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Fulano
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Cliente com maior número de ordens cadastradas" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="star"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Mais ordens
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Ciclano
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 informativo_card"
        matTooltip="Bairro com maior número de clientes cadastrados" matTooltipPosition="below">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 icone_container">
              <mat-icon fontIcon="flag"
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
            </div>
            <h1 class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 informativo_titulo">
              Top bairro
            </h1>
          </div>
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              Lauzane
            </h2>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 linha_final_colorida"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 linha_final"></div>
          </div>
        </div>
      </div>

    </div>
  </div>