<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row informativo_container">

  <div *ngIf="metaDados != null; else metaDadosNull"
    class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_subcontainer">

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card"
      matTooltip="Quantidade de clientes cadastrados" matTooltipPosition="below">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
          <div class="icone_container">
            <mat-icon fontIcon="face"
              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
          </div>
          <h1 class="informativo_titulo">
            Cadastros
          </h1>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
          <h2 *ngIf="metaDados.totalClientesCadastrados > 0; else: totalClientesCadastradosSemInfo"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
            {{ metaDados.totalClientesCadastrados != null
            ? metaDados.totalClientesCadastrados
            : '-'}}
          </h2>
          <ng-template #totalClientesCadastradosSemInfo>
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              -
            </h2>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final_colorida"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card"
      matTooltip="Cliente que gerou maior faturamento bruto" matTooltipPosition="below">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
          <div class="icone_container">
            <mat-icon fontIcon="attach_money"
              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
          </div>
          <h1 class="informativo_titulo">
            Maior giro
          </h1>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
          <h2 *ngIf="metaDados.clienteComMaiorGiro != null; else: clienteComMaiorGiroSemInfo"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
            {{
            (metaDados.clienteComMaiorGiro.nome.split(' ')[0].length > 8)
            ? (metaDados.clienteComMaiorGiro.nome.split(' ')[0] | slice:0:8 | titlecase)+'...'
            : (metaDados.clienteComMaiorGiro.nome.split(' ')[0] | titlecase)
            }}
          </h2>
          <ng-template #clienteComMaiorGiroSemInfo>
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              -
            </h2>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final_colorida"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card"
      matTooltip="Cliente com maior número de ordens cadastradas" matTooltipPosition="below">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
          <div class="icone_container">
            <mat-icon fontIcon="star"
              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
          </div>
          <h1 class="informativo_titulo">
            Mais ordens
          </h1>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
          <h2 *ngIf="metaDados.clienteComMaisOrdens != null; else: clienteComMaisOrdensSemInfo"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
            {{
            (metaDados.clienteComMaisOrdens.nome.split(' ')[0].length > 8)
            ? (metaDados.clienteComMaisOrdens.nome.split(' ')[0] | slice:0:8 | titlecase)+'...'
            : (metaDados.clienteComMaisOrdens.nome.split(' ')[0] | titlecase)
            }}
          </h2>
          <ng-template #clienteComMaisOrdensSemInfo>
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              -
            </h2>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final_colorida"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final"></div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card"
      matTooltip="Bairro com maior número de clientes cadastrados" matTooltipPosition="below">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_titulo">
          <div class="icone_container">
            <mat-icon fontIcon="flag"
              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_icone"></mat-icon>
          </div>
          <h1 class="informativo_titulo">
            Top bairro
          </h1>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_linha informativo_linha_texto">
          <h2 *ngIf="metaDados.bairroComMaisClientes != null; else: bairroSemInfo"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
            {{
            (metaDados.bairroComMaisClientes.length > 7)
            ? (metaDados.bairroComMaisClientes | slice:0:7 | titlecase)+'...'
            : (metaDados.bairroComMaisClientes | titlecase)
            }}
          </h2>
          <ng-template #bairroSemInfo>
            <h2 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_texto">
              -
            </h2>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final_colorida"></div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 linha_final"></div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #metaDadosNull class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_card card_spinner">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <mat-progress-spinner class="circle_progress" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <mat-progress-spinner class="circle_progress" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <mat-progress-spinner class="circle_progress" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-5 informativo_card">
      <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 informativo_conteudo text-center">
        <mat-progress-spinner class="circle_progress" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
  </ng-template>

</div>