<app-titulo-modulo [texto]="'Despesas'"></app-titulo-modulo>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 container">
    <custom-table-header (emissorDeBuscaFormControl)="recebeBuscaFormControl($event)" [@fadeInOut]
        (emissorDeObjetoPageableAposTypeAhead)="recebeObjetoPageableInfoAtualizadoPosTypeAhead($event)"
        (emissorDePageSizeComQuantidadeDeItensPorPaginaAlterada)="recebeQtdItensPorPaginaAlterada($event)"
        (emissorDeSolicitacaoDeAtualizacaoDeTabela)="recebeSolicitacaoDeAtualizacaoDaTabela()"
        (emissorDeSolicitacaoDeRelatorio)="recebeSolicitacaoDeRelatorio($event)" [pageableObject]="pageObject"
        [itensSelecionadosNaTabela]="itensSelecionadosNaTabela" [modulo]="'despesas'" [remocaoEmMassaHabilitada]="false"
        [inputPlaceholder]="'Busca por nome da despesa...'" [botaoCriarHabilitado]="false"></custom-table-header>

    <custom-table (emiteSolicitacaoDeExclusaoDoItem)="recebeSolicitacaoDeExclusao($event)"
        (emiteAlteracaoDoEstadoDeCheckDaTabela)="recebeAtualizacaoNosChecksDaTabela($event)" [@fadeInOut]
        [tbodies]="obtemTdsTabela()" [theads]="obtemThsTabela()" [objetos]="pageObject?.content"
        [modulo]="'despesas'"></custom-table>

    <custom-table-pagination [pageObject]="pageObject"
        (emissorDePageNumberAtualizado)="recebePageNumberAtualizado($event)" [@fadeInOut]></custom-table-pagination>
</div>