<div class="container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <div class="subcontainer subcontainer_dados row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">

        <div class="block block_opcoes row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="block_opcoes_interno">
                <button class="botao botao_retornar row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon class="icone icone_retornar" fontIcon="arrow_back"></mat-icon>
                    <h5 class="retornar_text">Retornar</h5>
                </button>
            </div>
            <div class="block_opcoes_interno row">
                <i class="icone icone_opc bi bi-pencil-square"></i>
                <i class="icone icone_opc bi bi-trash2"></i>
            </div>
        </div>

        <div class="block block_dados_principais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="container_dados_principais">
                <div class="text_principal_colaborador nome_colaborador col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ (colaborador?.nome) | titlecase }}

                </div>
                <div
                    class="text_principal_colaborador email_colaborador row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.email != null ? (colaborador?.email | lowercase) : 'Sem e-mail cadastrado' }}
                </div>
                <div class="text_principal_colaborador status_colaborador">
                    {{ colaborador?.statusColaboradorEnum | titlecase }}
                </div>
            </div>
        </div>

        <div class="block block_icones row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <i class="icone icone_icones bi bi-file-earmark-medical mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-telephone mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-eraser mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-printer mat-elevation-z1"></i>
        </div>

        <div class="block block_dados_pessoais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="dados_pessoais_titulo row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {{ 'Cod. ' + colaborador?.matricula }}
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Nome
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Gabriel
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Sobrenome
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Lagrota
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    E-mail
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.email != null ? (colaborador?.email | lowercase) : 'Sem e-mail cadastrado' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Telefone
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.telefone != null
                    ? '(' + colaborador?.telefone?.prefixo + ')' + ' ' + colaborador?.telefone?.numero
                    : 'Sem telefone cadastrado' }} <!-- AJUSTAR COM MÉTODO && ADICIONAR SPAN COM TIPO-->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    CPF
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.cpfCnpj != null ? (colaborador?.cpfCnpj) : 'Sem CPF cadastrado' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Data de nascimento
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.dataNascimento != null ? (colaborador?.dataNascimento | date: 'dd/MM/yyyy') : 'Sem '
                    + 'data de nascimento cadastrada' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Setor
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.tipoOcupacaoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Cargo
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.ocupacao | titlecase }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Modelo de contratação
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.modeloContratacaoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Modelo de trabalho
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.modeloTrabalhoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

        </div>
    </div>

    <div class="subcontainer subcontainer_content row col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
        <mat-tab-group class="block_menu" [selectedIndex]="abaSelecionada.value"
            (selectedIndexChange)="abaSelecionada.setValue($event)" dynamicHeight>
            <mat-tab label="Alterações">
                <ng-template #acoesColaborador matTabContent>
                    <app-alteracoes></app-alteracoes>
                </ng-template>
            </mat-tab>
            <mat-tab label="Produtividade">
                <div class="mat-elevation-z4">
                    Dependente do módulo de vendas
                </div>
            </mat-tab>
            <mat-tab label="Advertências">

            </mat-tab>
            <mat-tab label="Acessos">
                <div class="mat-elevation-z4">
                    Acessos
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>

    <!--     <div class="subcontainer subcontainer_comandos row col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

    </div> -->

</div>