<div class="container row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mat-elevation-z8">

    <div class="subcontainer subcontainer_dados row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">

        <div class="block block_opcoes row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="block_opcoes_interno">
                <button class="botao botao_retornar row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-icon class="icone icone_retornar" fontIcon="arrow_back"></mat-icon>
                    <h5 class="retornar_text">Retornar</h5>
                </button>
            </div>
            <div class="block_opcoes_interno row">
                <i class="icone icone_opc bi bi-pencil-square"></i>
                <i class="icone icone_opc bi bi-trash2"></i>
            </div>
        </div>

        <div class="block block_dados_principais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="container_dados_principais">
                <div class="text_principal_colaborador nome_colaborador col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ (colaborador?.nome) | titlecase }}

                </div>
                <div
                    class="text_principal_colaborador email_colaborador row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.email != null ? (colaborador?.email | lowercase) : 'Sem e-mail cadastrado' }}
                </div>
                <div class="text_principal_colaborador status_colaborador">
                    {{ colaborador?.statusColaboradorEnum | titlecase }}
                </div>
            </div>
        </div>

        <div class="block block_icones row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <i class="icone icone_icones bi bi-file-earmark-medical mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-telephone mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-eraser mat-elevation-z1"></i>
            <i class="icone icone_icones bi bi-printer mat-elevation-z1"></i>
        </div>

        <div class="block block_dados_pessoais row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="dados_pessoais_titulo row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {{ 'Cod. ' + colaborador?.matricula }}
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Nome
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Gabriel
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Sobrenome
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Lagrota
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    E-mail
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.email != null ? (colaborador?.email | lowercase) : 'Sem e-mail cadastrado' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Telefone
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.telefone != null
                    ? '(' + colaborador?.telefone?.prefixo + ')' + ' ' + colaborador?.telefone?.numero
                    : 'Sem telefone cadastrado' }} <!-- AJUSTAR COM MÉTODO && ADICIONAR SPAN COM TIPO-->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    CPF
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.cpfCnpj != null ? (colaborador?.cpfCnpj) : 'Sem CPF cadastrado' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Data de nascimento
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.dataNascimento | date: 'dd/MM/yyyy' }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Setor
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.tipoOcupacaoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Cargo
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.ocupacao | titlecase }}
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Modelo de contratação
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.modeloContratacaoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

            <div class="dados_pessoais_info_block row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="dados_pessoais_info_titulo col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    Modelo de trabalho
                </div>
                <div class="dados_pessoais_info_texto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ colaborador?.modeloTrabalhoEnum }} <!-- TRATAR COM MÉTODO COM SWICH CASE -->
                </div>
            </div>

        </div>
    </div>

    <div class="subcontainer row col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">

        <mat-tab-group class="block_menu" dynamicHeight>
            <mat-tab label="Alterações">
                <div class="mat-elevation-z4">
                    <div class="block block_titulo_itens row col-xl-12 col-lg-12 col-md-l2 col-sm-12 col-12">
                        <div class="block_titulo_itens_titulo">
                            {{ historicoAcoes?.content?.length + ' Itens encontrados' }}
                        </div>
                    </div>

                    <div class="block block_itens row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div *ngFor="let acao of historicoAcoes?.content"
                            [routerLink]="geraEndPointAcessoItemAcao(acao)"
                            class="item_container row col-xl-12 col-lg-12 col-md-l2 col-sm-12 col-12"
                            matTooltip="Ação realizada dia {{ acao.dataCriacao | date: 'dd/MM/yyyy' }} às {{ acao.horaCriacao | slice:0:5 }}"
                            matTooltipPosition="left">
                            <div class="row item_text">
                                {{ tituloAcao(acao) }}
                            </div>

                            <div class="row item_details">
                                <div class="item_details_status" [class]="acao.tipoAcaoEnum">
                                    {{ converteTextoTipoAcao(acao) }}
                                </div>
                            </div>
                        </div>

                        <ul *ngIf="historicoAcoes?.totalPages > 1" class="pagination pagination-sm justify-content-end">
                            <li (click)="voltarPagina()" [ngClass]="{'disabled': historicoAcoes.pageNumber == 0}"
                                class="page-item">
                                <a class="page-link">{{ geraBotaoVoltarPaginacao() }}</a>
                            </li>
                            <ng-container
                                *ngFor="let numero of GeraNumerosParaNavegarNaPaginacao(historicoAcoes.totalPages); let i = index">
                                <li *ngIf="(historicoAcoes.pageNumber - i) <= 3 && (historicoAcoes.pageNumber - i) >= 0
                        || (i - historicoAcoes.pageNumber) <= 3 && (i - historicoAcoes.pageNumber) >= 0
                        || historicoAcoes.pageNumber == 0 && (i - historicoAcoes.pageNumber) <= 6 && (i - historicoAcoes.pageNumber) >= 0
                        || historicoAcoes.pageNumber == 1 && (i - historicoAcoes.pageNumber) <= 5 && (i - historicoAcoes.pageNumber) >= 0
                        || historicoAcoes.pageNumber == 2 && (i - historicoAcoes.pageNumber) <= 4 && (i - historicoAcoes.pageNumber) >= 0
                        || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-1)) && (historicoAcoes.pageNumber - i) <= 6
                        || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-2)) && (historicoAcoes.pageNumber - i) <= 5
                        || (historicoAcoes.pageNumber == (historicoAcoes.totalPages-3)) && (historicoAcoes.pageNumber - i) <= 4"
                                    (click)="selecionarPagina(i)" [ngClass]="{'active': historicoAcoes.pageNumber == i}"
                                    class="page-item">
                                    <a class="page-link">{{ i+1 }}</a>
                                </li>
                            </ng-container>
                            <li (click)="avancarPagina()"
                                [ngClass]="{'disabled': historicoAcoes.pageNumber == historicoAcoes.totalPages-1}"
                                class="page-item"><a class="page-link">{{ geraBotaoAvancarPaginacao() }}</a></li>
                        </ul>

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Produtividade">
                <div class="mat-elevation-z4">
                    Produtividade
                </div>
            </mat-tab>
            <mat-tab label="Advertências">
                <div class="mat-elevation-z4">
                    Advertências
                </div>
            </mat-tab>
            <mat-tab label="Acessos">
                <div class="mat-elevation-z4">
                    Acessos
                </div>
            </mat-tab>
        </mat-tab-group>



    </div>

    <!--     <div class="subcontainer subcontainer_comandos row col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

    </div> -->

</div>