@import "../../../../../../node_modules/rfs/scss";
@import '../../../../../dist/variables.scss';

button,
i,
div,
app-alteracoes {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $light-black;
    padding: 0;
    margin: 1rem 0;
    height: 95%;
}

.subcontainer {
    display: block;
    height: 100%;
}

.subcontainer_dados {
    display: grid;
    border-right: 1px solid $dark-grey;
}

.subcontainer_content {
    overflow-y: auto;
}

// CONTAINER ESQUERDA - MENU SUPERIOR

.block_opcoes {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_opcoes_interno {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.botao {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: normal;
    color: $light-grey;
    cursor: pointer;
}

.icone {
    color: $light-grey;
    cursor: pointer;
    font-size: 1.2rem;
}

.icone_opc {
    margin-left: 0.4rem;
    font-size: 1.1rem;
}

.icone_retornar {
    margin-right: 0.2rem;
}

.retornar_text {
    font-family: $font-poppins;
    font-size: 0.90rem;
    font-weight: 500;
}

// CONTAINER ESQUERDA - DADOS PRINCIPAIS DO COLABORADOR

.block_dados_principais {
    margin-top: 1rem;
    padding: 0 1rem;
}

.container_imagem {
    width: 30%;
    height: 5rem;
    border: 1px solid $dark-grey;
}

.container_dados_principais {
    width: 100%;
}

.text_principal_colaborador {
    font-family: $font-poppins;
    color: $dark-white;
    display: inline-block;
    max-width: 100%;
}

.nome_colaborador {
    font-size: 0.9rem;
    color: $light-white;
}

.email_colaborador {
    font-size: 0.7rem;
    color: $light-grey;
}

.status_colaborador {
    font-size: 0.8rem;
    background-color: $dark-grey;
    padding: 0.1rem 1rem;
    margin-top: 0.3rem;
    border-radius: 5px;
    text-align: center;
}

// CONTAINER DA ESQUERDA - BLOCK ICONES

.block_icones {
    display: flex;
    margin-top: 0.5rem;
    padding: 0 1rem;
}

.icone_icones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
}

// CONTAINER DA ESQUERDA - BLOCK DADOS PESSOAIS

.block_dados_pessoais {
    overflow-y: auto;
    border-top: 1px solid $dark-grey;
    padding: 0.8rem 1rem;
    margin-top: 0.8rem;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-white;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    box-shadow: inset 0 0 2px $dark-black;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark;
}

.dados_pessoais_titulo {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: $font-poppins;
    color: $light-white;
}

.dados_pessoais_info_block {
    margin: 0.1rem 0;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: $font-poppins;
}

.dados_pessoais_info_titulo {
    color: $light-grey;
}

.dados_pessoais_info_texto {
    color: $dark-white;
    margin-top: -0.3rem;
    font-size: 0.7rem;
}

// STEPPER

::ng-deep.mat-mdc-tab-labels {
    padding: 0 1rem !important;
}

::ng-deep.mat-mdc-tab .mdc-tab__text-label,
::ng-deep.mat-mdc-tab-link .mdc-tab__text-label {
    color: $light-grey !important;
}

::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
::ng-deep.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: $primary-color !important;
}

::ng-deep.mat-mdc-tab-header-pagination-chevron {
    border-color: $light-grey;
}

// CONTAINER DIREITA

.subcontainer_comandos {
    display: grid;
    border-left: 1px solid $dark-grey;
}